workflows/phase-4-council-review.json
{
  "id": "02bd245046174959",
  "name": "Phase 4 \u2014 Council Review",
  "description": "Runs PRD Council: 4 core reviewers (speed model) + chair (quality model). Handles user decisions and re-review gate.",
  "active": true,
  "nodes": [
    {
      "id": "0d674ce3-c41c-4297-ba68-cc3f24d67f69",
      "name": "Webhook - Get Review UI",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        14400,
        6000
      ],
      "parameters": {
        "path": "council-review",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "8e5a6542-43fe-4307-9331-339a9702a1d1",
      "name": "Respond - Review UI",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        14700,
        6000
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html>\n<head><title>Council Review</title><meta charset=\"utf-8\"><script src=\"https://cdn.jsdelivr.net/npm/marked/marked.min.js\"></script><style>*{box-sizing:border-box}body{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;max-width:1100px;margin:0 auto;padding:20px;background:#f5f5f5}h2{color:#333;margin-bottom:4px}.subtitle{color:#666;font-size:14px;margin-bottom:16px}.start-row{display:flex;gap:8px;align-items:center;margin-bottom:12px}.start-row label{font-size:14px;font-weight:600;white-space:nowrap}.start-row input{border:1px solid #ccc;border-radius:4px;padding:6px 10px;font-size:14px;width:220px}button{padding:8px 16px;border:none;border-radius:6px;font-size:14px;cursor:pointer}.btn-primary{background:#0071e3;color:white}.btn-primary:hover{background:#005bb5}.btn-success{background:#28a745;color:white}.btn-success:hover{background:#218838}.btn-danger{background:#dc3545;color:white}.btn-danger:hover{background:#c82333}.btn-warn{background:#fd7e14;color:white}.btn-warn:hover{background:#e06500}button:disabled{opacity:.5;cursor:not-allowed}#review-area{background:white;border:1px solid #ddd;border-radius:8px;padding:24px;min-height:300px;margin:12px 0;display:none;line-height:1.6}#review-area h1,#review-area h2,#review-area h3{margin-top:24px}#review-area table{border-collapse:collapse;width:100%;margin:12px 0}#review-area td,#review-area th{border:1px solid #ddd;padding:6px 10px;font-size:13px;text-align:left}#review-area th{background:#f5f5f5;font-weight:600}#review-area pre{background:#f8f8f8;padding:12px;border-radius:4px;overflow-x:auto}#review-area code{font-size:13px}.controls{display:none;gap:8px;align-items:flex-start;flex-wrap:wrap;margin-top:4px}.controls.show{display:flex}.meta{font-size:12px;color:#888;margin-bottom:4px;display:none}#revisions-wrap{display:none;flex-direction:column;gap:8px;width:100%;margin-top:4px}#revisions-wrap textarea{width:100%;height:120px;border:1px solid #ccc;border-radius:4px;padding:8px;font-size:14px;resize:vertical}#status{padding:10px 14px;border-radius:6px;margin:8px 0;font-size:14px;display:none}#status.info{background:#d1ecf1;color:#0c5460}#status.error{background:#f8d7da;color:#721c24}#status.ok{background:#d4edda;color:#155724}.spinner{display:inline-block;width:13px;height:13px;border:2px solid #aaa;border-top-color:#333;border-radius:50%;animation:spin .8s linear infinite;vertical-align:middle;margin-right:5px}@keyframes spin{to{transform:rotate(360deg)}}.gate-controls{display:none;gap:8px;margin-top:16px}.gate-controls.show{display:flex}</style></head>\n<body><h2>Council Review (Phase 4)</h2><p class=\"subtitle\">Run PRD Council: 4 core reviewers + Council Chair. Review takes 15-20 minutes.</p><div class=\"start-row\"><label>Project:</label><input type=\"text\" id=\"project\" placeholder=\"my-project-name\"><button class=\"btn-primary\" id=\"btn-start\" onclick=\"startReview()\">Start Council Review</button></div><div id=\"status\"></div><div class=\"meta\" id=\"meta\"></div><div id=\"review-area\"></div><div class=\"controls\" id=\"controls\"><button class=\"btn-success\" id=\"btn-accept\" onclick=\"showAccept()\">\u2713 Accept Recommendations</button><button class=\"btn-danger\" id=\"btn-reject\" onclick=\"rejectReview()\">\u2715 Reject Recommendations</button><div id=\"revisions-wrap\"><label style=\"font-weight:600\">Recommendations to apply (optional, one per line):</label><textarea id=\"revisions\" placeholder=\"Leave blank to accept verdict without PRD changes...\"></textarea><button class=\"btn-success\" onclick=\"submitAcceptance()\">Apply & Continue</button></div></div><div class=\"gate-controls\" id=\"gate\"><button class=\"btn-success\" onclick=\"gateDecision('PROCEED')\">\u2192 Proceed to Phase 5</button><button class=\"btn-warn\" onclick=\"gateDecision('RECONVENE')\">\u21ba Reconvene Council</button></div><script>let proj='',reviewNum=1;function setStatus(msg,type){const s=document.getElementById('status');s.style.display='block';s.className=type;s.innerHTML=msg}function setLoading(on){['btn-start','btn-accept','btn-reject'].forEach(id=>{const el=document.getElementById(id);if(el)el.disabled=on})}function showReview(text,reviewNumber,project,verdict){reviewNum=reviewNumber;proj=project;document.getElementById('review-area').style.display='block';document.getElementById('review-area').innerHTML=marked.parse(text);document.getElementById('controls').className='controls show';const m=document.getElementById('meta');m.style.display='block';m.textContent='Review r'+reviewNumber+' \u2014 '+project+' \u2014 Verdict: '+verdict;document.getElementById('revisions-wrap').style.display='none';document.getElementById('revisions').value=''}async function post(body){const res=await fetch('/webhook/council-review-action',{method:'POST',headers:{'Content-Type':'application/json'},body:JSON.stringify(body)});return res.json()}async function startReview(){proj=document.getElementById('project').value.trim().toLowerCase().replace(/\\s+/g,'-');if(!proj){setStatus('Enter a project name.','error');return}setStatus('<span class=\"spinner\"></span> Running council \u2014 4 reviewers + chair. Takes 15-20 min\u2026','info');setLoading(true);try{const d=await post({project:proj,action:'review'});if(d.error){setStatus('Error: '+d.error,'error');return}showReview(d.review_text,d.review_number,d.project,d.verdict);setStatus('Council r'+d.review_number+' complete. Verdict: '+d.verdict+'. Accept or reject.','ok')}catch(e){setStatus('Failed: '+e.message,'error')}finally{setLoading(false)}}function showAccept(){document.getElementById('revisions-wrap').style.display='flex';document.getElementById('revisions').focus()}async function submitAcceptance(){const rev=document.getElementById('revisions').value.trim();setStatus('<span class=\"spinner\"></span> Applying recommendations\u2026','info');setLoading(true);try{const d=await post({project:proj,action:'decide',decision:'ACCEPTED',revisions:rev});if(d.error){setStatus('Error: '+d.error,'error');return}setStatus('Accepted. PRD now v'+d.new_prd_version+'.','ok');document.getElementById('controls').className='controls';document.getElementById('gate').className='gate-controls show'}catch(e){setStatus('Failed: '+e.message,'error')}finally{setLoading(false)}}async function rejectReview(){setStatus('<span class=\"spinner\"></span> Recording rejection\u2026','info');setLoading(true);try{const d=await post({project:proj,action:'decide',decision:'REJECTED',revisions:''});if(d.error){setStatus('Error: '+d.error,'error');return}setStatus('Rejected. PRD proceeds unchanged.','ok');document.getElementById('controls').className='controls';document.getElementById('gate').className='gate-controls show'}catch(e){setStatus('Failed: '+e.message,'error')}finally{setLoading(false)}}async function gateDecision(choice){setStatus('<span class=\"spinner\"></span> Gate: '+choice+'\u2026','info');try{const d=await post({project:proj,action:'gate',gate_decision:choice});if(d.error){setStatus('Error: '+d.error,'error');return}if(choice==='PROCEED'){setStatus('\u2713 Gate: PROCEED. Ready for Phase 5.','ok');document.getElementById('gate').className='gate-controls'}else{setStatus('Gate: RECONVENE. Next review: '+d.next_review_file,'info');document.getElementById('gate').className='gate-controls'}}catch(e){setStatus('Failed: '+e.message,'error')}}</script></body>\n</html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      }
    },
    {
      "id": "2006a027-75c4-4e1c-950b-3ee3119edba1",
      "name": "Webhook - Council Action",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        14400,
        6300
      ],
      "parameters": {
        "path": "council-review-action",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "971707c6-eaea-452c-afd7-f6f510ee8955",
      "name": "Code - Validate Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14700,
        6300
      ],
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst project = (body.project || '').trim().toLowerCase().replace(/\\s+/g, '-');\nconst action = body.action || 'review';\nconst reviewNum = body.reviewNum || 1;  // Can be passed from UI for reconvene\n\nif (!project) throw new Error('project required');\nif (!['review', 'decide', 'gate'].includes(action)) throw new Error('invalid action');\n\nconst wp = `/home/node/workspace/${project}`;\nconst councilHandoff = reviewNum === 1 ?\n  `${wp}/handoffs/004-council-review.md` :\n  `${wp}/handoffs/004-council-review-r${reviewNum}.md`;\n\nreturn [{\n  json: {\n    project,\n    action,\n    decision: body.decision || '',\n    gateDecision: body.gate_decision || '',\n    revisions: body.revisions || '',\n    reviewNum,\n    wp,\n    prdHandoff: `${wp}/handoffs/003-prd-refined.md`,\n    councilHandoff,\n    prdDir: `${wp}/tasks`,\n    promptsDir: '/home/node/prompts',\n    skillsDir: '/home/node/skills'\n  }\n}];"
      }
    },
    {
      "id": "29145eca-13f5-4bcc-afd1-c495b498c3e7",
      "name": "HTTP - Ollama Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        15000,
        6300
      ],
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:11434/api/tags",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "destinationDataField": "healthCheck"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "28478708-c332-41f6-aef2-e797fd433aca",
      "name": "IF - Ollama Reachable",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        15300,
        6300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "reach",
              "leftValue": "={{ Array.isArray($json.healthCheck?.models) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "6f2778e4-e6da-4a7b-9e6d-ff40a36bc005",
      "name": "Respond - Ollama Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        15600,
        6500
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={\"error\": \"Ollama unreachable. Ensure qwen3:30b-a3b-a3b and qwen3:30b-a3b are loaded.\"}",
        "options": {
          "responseCode": 503,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    },
    {
      "id": "586ec01d-dd78-470e-94da-c8f85a3e0a7c",
      "name": "IF - Route Action",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        15600,
        6300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "act",
              "leftValue": "={{ $('Code - Validate Inputs').first().json.action }}",
              "rightValue": "review",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "fdf7a461-a5ed-4854-8004-a0ebc18e2b1f",
      "name": "IF - Is Decide",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        15600,
        6600
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dec",
              "leftValue": "={{ $('Code - Validate Inputs').first().json.action }}",
              "rightValue": "decide",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "3ede513b-7ddb-44c5-9cdc-0b86f64635e4",
      "name": "Read - PRD File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        15900,
        6100
      ],
      "parameters": {
        "filePath": "={{ $json.prdHandoff }}",
        "options": {}
      }
    },
    {
      "id": "2e345afa-14a7-4116-9e7a-b5c7cfae3a00",
      "name": "Code - Validate PRD Contract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16200,
        6100
      ],
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst prd = d.prd;\nconst e = [];\nconst fm = prd.match(/^---\\n([\\s\\S]*?)\\n---/);\nif (!fm) e.push('Missing frontmatter');\nelse {\n  const f = fm[1];\n  if (!/phase:\\s*prd-synthesis/.test(f)) e.push('phase must be prd-synthesis');\n  if (!/version:\\s*v\\d+/.test(f)) e.push('version missing');\n}\nconst secs = [\n  [/#{1,3}\\s+(?:\\d+\\.\\s+)?Executive Summary/i, 'Executive Summary'],\n  [/#{1,3}\\s+(?:\\d+\\.\\s+)?Functional Requirements/i, 'Functional Requirements'],\n  [/#{1,3}\\s+(?:\\d+\\.\\s+)?Non-Functional Requirements/i, 'Non-Functional Requirements'],\n  [/#{1,3}\\s+(?:\\d+\\.\\s+)?User Stories/i, 'User Stories'],\n  [/#{1,3}\\s+(?:\\d+\\.\\s+)?Architecture/i, 'Architecture'],\n  [/#{1,3}\\s+(?:\\d+\\.\\s+)?Risk/i, 'Risk Assessment'],\n  [/#{1,3}\\s+(?:\\d+\\.\\s+)?MVP/i, 'MVP']\n];\nfor (const [p, n] of secs) if (!p.test(prd)) e.push(`Missing ${n}`);\nconst frCt = (prd.match(/\\*\\*FR-\\d+:/g) || []).length;\nif (frCt < 3) e.push(`< 3 FRs (${frCt})`);\nconst nfr = prd.match(/#{1,3}\\s+(?:\\d+\\.\\s+)?Non-Functional[\\s\\S]*?(?=\\n#{1,3}\\s)/i)?.[0] || '';\nif (nfr && !/\\d+\\s*(?:ms|s|%|concurrent|users|GB|MB)/.test(nfr)) e.push('NFR lacks numeric targets');\nconst usCt = (prd.match(/\\*\\*US-\\d+:/g) || []).length;\nif (usCt < 3) e.push(`< 3 user stories (${usCt})`);\nconst risk = prd.match(/#{1,3}\\s+(?:\\d+\\.\\s+)?Risk[\\s\\S]*?(?=\\n#{1,3}\\s|$)/i)?.[0] || '';\nconst riskRows = (risk.match(/\\|[^|\\n]+\\|[^|\\n]+\\|[^|\\n]+\\|[^|\\n]+\\|/g) || []).filter(r => !r.includes('---') && !/likelihood/i.test(r));\nif (riskRows.length < 2) e.push(`< 2 risks (${riskRows.length})`);\nif (e.length > 0) return [{ json: { ...d, valid: false, errors: e } }];\nreturn [{ json: { ...d, valid: true } }];"
      }
    },
    {
      "id": "6606a4d3-8032-4449-b85f-3e8fa1ee696b",
      "name": "IF - PRD Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        16500,
        6100
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "v",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "862037f9-9e22-473b-93ef-fd2816bc7059",
      "name": "Respond - PRD Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        16800,
        6300
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={\"error\": \"PRD validation failed\", \"errors\": {{ $json.errors }}}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    },
    {
      "id": "5132f2ff-ee0e-4111-bc5f-52d59b16c33c",
      "name": "Code - Load Reviewers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16800,
        6100
      ],
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\n// Reviewer definitions - files will be read separately\nconst reviewers = [\n  { name: 'Technical Reviewer', prompt: 'prd-council/core/technical-reviewer.md', skills: ['council/technical-review.md'] },\n  { name: 'Security Reviewer', prompt: 'prd-council/core/security-reviewer.md', skills: ['council/security-review.md'] },\n  { name: 'Executive Reviewer', prompt: 'prd-council/core/executive-reviewer.md', skills: ['council/business-alignment.md'] },\n  { name: 'User Advocate', prompt: 'prd-council/core/user-advocate.md', skills: ['council/ux-review.md'] }\n];\n\n// Build full paths and read inline (n8n will read files via Read nodes)\nconst items = reviewers.map((r, i) => ({\n  json: {\n    ...d,\n    reviewerIndex: i + 1,\n    reviewerName: r.name,\n    promptPath: `${d.promptsDir}/${r.prompt}`,\n    skillPaths: r.skills.map(s => `${d.skillsDir}/${s}`)\n  }\n}));\n\nreturn items;"
      }
    },
    {
      "id": "694ad70f-a4e6-42be-885f-5fce31df56cd",
      "name": "Code - Build R1 Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17100,
        6100
      ],
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst r = d.reviewers[0];\nconst sys = `${r.prompt}\\n\\n# Skills\\n\\n${r.skills}`;\nconst usr = `You are reviewing this PRD:\\n\\n${d.prd}\\n\\nProvide your review per the system prompt format.`;\nreturn [{ json: { ...d, idx: 0, sys, usr } }];"
      }
    },
    {
      "id": "49a4f034-07bd-48bc-ae01-d59015d1c261",
      "name": "HTTP - Run R1 (Tech)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        17400,
        6100
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "contentType": "raw",
        "options": {
          "timeout": 300000
        },
        "rawBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen3.5:35b-a3b\",\n  \"prompt\": $json.sys + \"\\n\\n\" + $json.usr,\n  \"stream\": false,\n  \"options\": {\n    \"temperature\": 0.7,\n    \"num_predict\": 4000\n  }\n}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000
    },
    {
      "id": "22a08b13-8e57-4f21-a208-1098b59123f7",
      "name": "Code - Save R1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17700,
        6100
      ],
      "parameters": {
        "jsCode": "const d = $input.first().json;\nreturn [{ json: { ...d, r1: d.response, r1name: 'Technical Reviewer' } }];"
      }
    },
    {
      "id": "85aa7798-3334-4367-84b9-aa7fd761ace6",
      "name": "Code - Build R2 Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18000,
        6100
      ],
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst r = d.reviewers[1];\nconst sys = `${r.prompt}\\n\\n# Skills\\n\\n${r.skills}`;\nconst usr = `You are reviewing this PRD:\\n\\n${d.prd}\\n\\nProvide your review per the system prompt format.`;\nreturn [{ json: { ...d, sys, usr } }];"
      }
    },
    {
      "id": "8860669d-d8db-4b3c-a73f-675ea9c16924",
      "name": "HTTP - Run R2 (Sec)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        18300,
        6100
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "contentType": "raw",
        "options": {
          "timeout": 300000
        },
        "rawBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen3.5:35b-a3b\",\n  \"prompt\": $json.sys + \"\\n\\n\" + $json.usr,\n  \"stream\": false,\n  \"options\": {\n    \"temperature\": 0.7,\n    \"num_predict\": 4000\n  }\n}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000
    },
    {
      "id": "981af7db-d178-46a0-8472-d62e21e7cd4a",
      "name": "Code - Save R2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18600,
        6100
      ],
      "parameters": {
        "jsCode": "const d = $input.first().json;\nreturn [{ json: { ...d, r2: d.response, r2name: 'Security Reviewer' } }];"
      }
    },
    {
      "id": "2927ab4c-d5ae-4a86-bf9a-2c6f7e9b67d2",
      "name": "Code - Build R3 Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18900,
        6100
      ],
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst r = d.reviewers[2];\nconst sys = `${r.prompt}\\n\\n# Skills\\n\\n${r.skills}`;\nconst usr = `You are reviewing this PRD:\\n\\n${d.prd}\\n\\nProvide your review per the system prompt format.`;\nreturn [{ json: { ...d, sys, usr } }];"
      }
    },
    {
      "id": "be89ec3b-47d5-4a80-b399-145a26304dd8",
      "name": "HTTP - Run R3 (Exec)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        19200,
        6100
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "contentType": "raw",
        "options": {
          "timeout": 300000
        },
        "rawBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen3.5:35b-a3b\",\n  \"prompt\": $json.sys + \"\\n\\n\" + $json.usr,\n  \"stream\": false,\n  \"options\": {\n    \"temperature\": 0.7,\n    \"num_predict\": 4000\n  }\n}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000
    },
    {
      "id": "712654d5-f0d7-4d39-bbc1-288ee48c7d11",
      "name": "Code - Save R3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19500,
        6100
      ],
      "parameters": {
        "jsCode": "const d = $input.first().json;\nreturn [{ json: { ...d, r3: d.response, r3name: 'Executive Reviewer' } }];"
      }
    },
    {
      "id": "9d1b997d-6d1f-4782-82a3-9bbe725f782b",
      "name": "Code - Build R4 Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19800,
        6100
      ],
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst r = d.reviewers[3];\nconst sys = `${r.prompt}\\n\\n# Skills\\n\\n${r.skills}`;\nconst usr = `You are reviewing this PRD:\\n\\n${d.prd}\\n\\nProvide your review per the system prompt format.`;\nreturn [{ json: { ...d, sys, usr } }];"
      }
    },
    {
      "id": "969bb818-a04f-4c46-be3d-2a30f0988bb5",
      "name": "HTTP - Run R4 (User)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        20100,
        6100
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "contentType": "raw",
        "options": {
          "timeout": 300000
        },
        "rawBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen3.5:35b-a3b\",\n  \"prompt\": $json.sys + \"\\n\\n\" + $json.usr,\n  \"stream\": false,\n  \"options\": {\n    \"temperature\": 0.7,\n    \"num_predict\": 4000\n  }\n}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000
    },
    {
      "id": "d1961ae8-7726-4d6a-aac5-76c3f58e6c07",
      "name": "Code - Save R4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20400,
        6100
      ],
      "parameters": {
        "jsCode": "const d = $input.first().json;\nreturn [{ json: { ...d, r4: d.response, r4name: 'User Advocate' } }];"
      }
    },
    {
      "id": "fe99de91-8aac-4574-b787-a050129a87aa",
      "name": "HTTP - Warm Quality Model",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        20700,
        6100
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "contentType": "raw",
        "options": {
          "timeout": 60000
        },
        "rawBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen3:30b-a3b\",\n  \"prompt\": \"Respond with: ready\",\n  \"stream\": false,\n  \"options\": {\n    \"num_predict\": 10\n  }\n}"
      },
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000
    },
    {
      "id": "350beae5-abbc-4bbe-b618-22993a15b350",
      "name": "Code - Build Chair Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21000,
        6100
      ],
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\n// Note: In production, prompt/skill files would be read separately\n// For MVP, using inline placeholders\nconst chairPromptPlaceholder = \\`You are the Council Chair. Synthesize all reviewer feedback into a unified assessment.\n\nOUTPUT FORMAT:\n## Consensus Points\n[List areas where reviewers agree]\n\n## Conflicts\n[List areas where reviewers disagree]\n\n## Overall Verdict\n[APPROVED / APPROVED WITH CONCERNS / REVISE AND RESUBMIT]\n\n## Required Revisions\n[Numbered list if verdict is not APPROVED]\\`;\n\nconst sys = chairPromptPlaceholder;\nconst allRev = \\`## Reviewer Outputs\n\n### \\${d.r1name}\n\n\\${d.r1}\n\n---\n\n### \\${d.r2name}\n\n\\${d.r2}\n\n---\n\n### \\${d.r3name}\n\n\\${d.r3}\n\n---\n\n### \\${d.r4name}\n\n\\${d.r4}\n\n---\\`;\n\nconst usr = \\`Synthesize these 4 reviews into a unified council assessment:\\n\\n\\${allRev}\\`;\n\nreturn [{ json: { ...d, sys, usr } }];"
      }
    },
    {
      "id": "f5bfd9bb-0e0c-499d-842b-a8a00d8bc4b6",
      "name": "HTTP - Run Chair",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        21300,
        6100
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "contentType": "raw",
        "options": {
          "timeout": 300000
        },
        "rawBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen3:30b-a3b\",\n  \"prompt\": $json.sys + \"\\n\\n\" + $json.usr,\n  \"stream\": false,\n  \"options\": {\n    \"temperature\": 0.7,\n    \"num_predict\": 6000\n  }\n}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000
    },
    {
      "id": "869ea519-ca49-4da8-9d4b-f43c721668fa",
      "name": "Code - Assemble Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21600,
        6100
      ],
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst chair = d.response;\nconst vm = chair.match(/Overall Verdict:\\s*(APPROVED|APPROVED WITH CONCERNS|REVISE AND RESUBMIT)/i);\nconst verdict = vm ? vm[1] : 'APPROVED WITH CONCERNS';\nconst reviewText = `---\\nphase: council-review\\nproject: ${d.project}\\nreview_number: ${d.reviewNum}\\ndate: ${new Date().toISOString().split('T')[0]}\\nprd_version_reviewed: ${d.prdV}\\nreviewers:\\n  - technical-reviewer\\n  - security-reviewer\\n  - executive-reviewer\\n  - user-advocate\\n  - council-chair\\noverall_verdict: ${verdict}\\nstatus: PENDING\\n---\\n\\n# Council Review \u2014 ${d.project}\\n\\n## Reviewer Outputs\\n\\n### Technical Reviewer\\n\\n${d.r1}\\n\\n---\\n\\n### Security Reviewer\\n\\n${d.r2}\\n\\n---\\n\\n### Executive Reviewer\\n\\n${d.r3}\\n\\n---\\n\\n### User Advocate\\n\\n${d.r4}\\n\\n---\\n\\n## Council Chair Synthesis\\n\\n${chair}\\n\\n---\\n\\n## User Decisions\\n\\n**Status**: PENDING\\n\\nUser review in progress.\\n\\n---\\n\\n## PRD Revision Log\\n\\n**PRD version before council**: ${d.prdV}\\n**PRD version after revisions**: (pending)\\n\\n### Changes Made\\n\\n(pending)\\n\\n---\\n\\n## Re-Review Status\\n\\n**Gate Decision**: (pending)\\n**Decision Date**: (pending)\\n**Rationale**: (pending)\\n`;\nreturn [{ json: { ...d, reviewText, verdict } }];"
      }
    },
    {
      "id": "8d49bea2-b3a1-4451-bed7-3fe4b99cc507",
      "name": "Respond - Review Done",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        21900,
        6100
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={\"success\": true, \"review_text\": {{ $json.reviewText }}, \"verdict\": {{ $json.verdict }}, \"review_number\": {{ $json.reviewNum }}, \"project\": {{ $json.project }} }",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    },
    {
      "id": "524921bc-3628-40e6-8722-192c75dd995d",
      "name": "Code - Handle User Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15900,
        6600
      ],
      "parameters": {
        "jsCode": "const d = $('Code - Validate Inputs').first().json;\nconst councilText = $input.first().json.councilFileContent || '';\nconst decision = d.decision;\nif (!decision) throw new Error('decision required (ACCEPTED or REJECTED)');\n\nconst revisions = d.revisions.trim();\nconst prdMatch = councilText.match(/prd_version_reviewed:\\s*(v\\d+)/);\nconst oldVer = prdMatch ? prdMatch[1] : 'v1';\nconst newVerNum = parseInt(oldVer.substring(1)) + 1;\nconst newVer = `v${newVerNum}`;\n\n// Update council handoff with decision\nconst today = new Date().toISOString().split('T')[0];\nconst decisionBlock = `\\n\\n---\\n## User Decision (${today})\\n\\n**Status**: ${decision}\\n${revisions ? `\\n**Revisions to Apply**:\\n${revisions}\\n` : ''}\\n---\\n`;\nconst updatedCouncil = councilText + decisionBlock;\n\nreturn [{\n  json: {\n    ...d,\n    decision,\n    oldPrdVersion: oldVer,\n    newPrdVersion: decision === 'ACCEPTED' ? newVer : oldVer,\n    councilHandoffContent: updatedCouncil,\n    message: `Decision recorded: ${decision}${decision === 'ACCEPTED' ? ` (PRD ${oldVer} \u2192 ${newVer})` : ''}`\n  }\n}];"
      }
    },
    {
      "id": "ce1ebd6e-4882-4d6a-8d71-380f14a260fe",
      "name": "Respond - Decision Recorded",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        16200,
        6600
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={\"success\": true, \"decision\": {{ $json.decision }}, \"new_prd_version\": {{ $json.new_prd_version }}, \"project\": {{ $json.project }} }",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    },
    {
      "id": "1a1d92ad-0522-4b6d-a249-4d4c036bff16",
      "name": "Code - Handle Gate Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15900,
        6900
      ],
      "parameters": {
        "jsCode": "const d = $('Code - Validate Inputs').first().json;\nconst councilText = $input.first().json.councilFileContent || '';\nconst gate = d.gateDecision;\nif (!gate) throw new Error('gate_decision required (PROCEED or RECONVENE)');\n\nconst today = new Date().toISOString().split('T')[0];\nconst rationale = gate === 'PROCEED' ?\n  'User approved proceeding to next phase.' :\n  'User requested council reconvene for re-review.';\n\nconst gateBlock = `\\n\\n---\\n## Re-Review Gate (${today})\\n\\n**Gate Decision**: ${gate}\\n**Rationale**: ${rationale}\\n---\\n`;\nconst updatedCouncil = councilText + gateBlock;\n\nconst nextReviewFile = gate === 'RECONVENE' ?\n  `${d.wp}/handoffs/004-council-review-r${d.reviewNum + 1}.md` :\n  '';\n\nreturn [{\n  json: {\n    ...d,\n    gateDecision: gate,\n    councilHandoffContent: updatedCouncil,\n    nextReviewFile,\n    message: `Gate decision: ${gate}${gate === 'RECONVENE' ? ` (next: r${d.reviewNum + 1})` : ''}`\n  }\n}];"
      }
    },
    {
      "id": "68cdc26d-557b-4c1e-87ff-2314e602d74d",
      "name": "Respond - Gate Recorded",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        16200,
        6900
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={\"success\": true, \"gate_decision\": {{ $json.gate_decision }}, \"next_review_file\": {{ $json.next_review_file }}, \"project\": {{ $json.project }} }",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    },
    {
      "id": "65c9219a-0c63-43f2-84ce-015d9756d77e",
      "name": "Read - Council for Decision",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        15750,
        6600
      ],
      "parameters": {
        "filePath": "={{ $json.councilHandoff }}",
        "options": {}
      }
    },
    {
      "id": "32b1677f-c41b-4220-a49b-c1cfd64c1a48",
      "name": "Code - Process Council for Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15850,
        6600
      ],
      "parameters": {
        "jsCode": "const d = $('Code - Validate Inputs').first().json;\nconst item = $input.first();\nlet councilFileContent = '';\nif (item.binary && item.binary.data) {\n  const buffer = Buffer.from(item.binary.data.data);\n  councilFileContent = buffer.toString('utf8');\n}\nreturn [{ json: { ...d, councilFileContent } }];"
      }
    },
    {
      "id": "1a479721-3e4a-42dc-8b6b-4bf8744043f6",
      "name": "Read - Council for Gate",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        15750,
        6900
      ],
      "parameters": {
        "filePath": "={{ $json.councilHandoff }}",
        "options": {}
      }
    },
    {
      "id": "ceb339fa-4c5e-406d-98be-189f75b43520",
      "name": "Code - Process Council for Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15850,
        6900
      ],
      "parameters": {
        "jsCode": "const d = $('Code - Validate Inputs').first().json;\nconst item = $input.first();\nlet councilFileContent = '';\nif (item.binary && item.binary.data) {\n  const buffer = Buffer.from(item.binary.data.data);\n  councilFileContent = buffer.toString('utf8');\n}\nreturn [{ json: { ...d, councilFileContent } }];"
      }
    },
    {
      "id": "d1edbb50-0737-4738-90c2-d9192d26bd76",
      "name": "Code - Process PRD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16100,
        6100
      ],
      "parameters": {
        "jsCode": "const d = $('Code - Validate Inputs').first().json;\nconst item = $input.first();\nlet prd;\nif (item.binary && item.binary.data) {\n  const buffer = Buffer.from(item.binary.data.data);\n  prd = buffer.toString('utf8');\n} else {\n  throw new Error(`PRD not found at ${d.prdHandoff}. Run Phase 3 first.`);\n}\nreturn [{ json: { ...d, prd } }];"
      }
    },
    {
      "id": "fcd1b0ad-b14d-4938-acd0-79b54c926f4e",
      "name": "Code - Check If Accepted",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15850,
        6650
      ],
      "parameters": {
        "jsCode": "const d = $('Code - Validate Inputs').first().json;\nconst decision = d.decision;\nconst revisions = (d.revisions || '').trim();\n\nreturn [{\n  json: {\n    ...d,\n    shouldRevise: decision === 'ACCEPTED' && revisions.length > 0\n  }\n}];"
      }
    },
    {
      "id": "54b771a8-08c4-4c50-95a8-43a5bd75a91e",
      "name": "IF - Should Revise PRD",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        16050,
        6650
      ],
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "accept",
              "leftValue": "={{ $json.shouldRevise }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "3fda7d14-7c13-4f24-84bf-1a82afa3218d",
      "name": "Read Binary File - Current PRD",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        16250,
        6550
      ],
      "parameters": {
        "filePath": "={{ $('Code - Validate Inputs').first().json.prdHandoff }}",
        "options": {}
      }
    },
    {
      "id": "1cc02355-c7ae-4d81-97be-c7e544bb9129",
      "name": "Code - Parse Current PRD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16450,
        6550
      ],
      "parameters": {
        "jsCode": "const d = $('Code - Validate Inputs').first().json;\nconst item = $input.first();\nlet currentPRD = '';\nif (item.binary && item.binary.data) {\n  const buffer = Buffer.from(item.binary.data.data);\n  currentPRD = buffer.toString('utf8');\n}\n\n// Extract version from PRD frontmatter\nconst versionMatch = currentPRD.match(/version:\\s*(v\\d+)/);\nconst currentVersion = versionMatch ? versionMatch[1] : 'v1';\nconst newVersionNum = parseInt(currentVersion.substring(1)) + 1;\nconst newVersion = `v${newVersionNum}`;\n\nreturn [{\n  json: {\n    ...d,\n    currentPRD,\n    currentVersion,\n    newVersion\n  }\n}];"
      }
    },
    {
      "id": "ca8d28b4-f21e-4016-8ab5-848d8b9fca20",
      "name": "Code - Build Revision Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16650,
        6550
      ],
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\n// Build PRD Writer prompt for revisions\nconst systemPrompt = `You are the PRD Writer. Apply the following council recommendations to the PRD below.\n\nCOUNCIL RECOMMENDATIONS TO APPLY:\n${d.revisions}\n\nCURRENT PRD (${d.currentVersion}):\n${d.currentPRD}\n\nINSTRUCTIONS:\n- Apply ONLY the specific recommendations listed above\n- Maintain all existing sections and structure\n- Update the version in frontmatter to ${d.newVersion}\n- Preserve all other content unchanged\n- Output the complete updated PRD\n\nOUTPUT: Complete revised PRD with version ${d.newVersion}`;\n\nreturn [{\n  json: {\n    model: \"qwen3:30b-a3b\",\n    prompt: systemPrompt,\n    stream: False,\n    temperature: 0.7,\n    num_predict: 8000\n  }\n}];"
      }
    },
    {
      "id": "2e0a6c88-0b9e-44f7-9c36-e936e839f582",
      "name": "HTTP - Ollama Revise PRD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        16850,
        6550
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "options": {
          "timeout": 300000
        },
        "sendHeaders": false,
        "sendQuery": false,
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000
    },
    {
      "id": "5570a9d3-4509-4ab3-ad12-c0ed4054f6d5",
      "name": "Code - Parse Revised PRD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17050,
        6550
      ],
      "parameters": {
        "jsCode": "const d = $('Code - Validate Inputs').first().json;\nconst resp = $input.first().json;\nconst revisedPRD = resp.response || '';\n\nif (!revisedPRD || revisedPRD.length < 100) {\n  throw new Error('PRD revision failed - empty or too short response');\n}\n\nconst version = $('Code - Parse Current PRD').first().json.newVersion;\n\nreturn [{\n  json: {\n    ...d,\n    revisedPRD,\n    newPrdVersion: version,\n    prdFileName: `prd-${d.project}-${version}.md`\n  }\n}];"
      }
    },
    {
      "id": "792fa194-8a8c-4ed1-a80b-33cf5edbdc56",
      "name": "Write Binary File - Save Revised PRD",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        17250,
        6550
      ],
      "parameters": {
        "fileName": "={{ $json.prdFileName }}",
        "dataPropertyName": "revisedPRD",
        "options": {
          "folder": "={{ $json.prdDir }}"
        }
      }
    },
    {
      "id": "92927398-5072-40fe-a253-20363541576d",
      "name": "Write Binary File - Update Handoff",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        17450,
        6550
      ],
      "parameters": {
        "fileName": "003-prd-refined.md",
        "dataPropertyName": "revisedPRD",
        "options": {
          "folder": "={{ $json.wp }}/handoffs"
        }
      }
    },
    {
      "id": "666ae6cc-e7d1-46d8-81de-cf34d4a26850",
      "name": "Code - Check If Reconvene",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16100,
        6900
      ],
      "parameters": {
        "jsCode": "const d = $('Code - Validate Inputs').first().json;\nconst gate = d.gateDecision;\n\nreturn [{\n  json: {\n    ...d,\n    shouldReconvene: gate === 'RECONVENE'\n  }\n}];"
      }
    },
    {
      "id": "a3216de0-542b-47e8-aa3c-ae62d415ae94",
      "name": "IF - Should Reconvene",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        16300,
        6900
      ],
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "reconvene",
              "leftValue": "={{ $json.shouldReconvene }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Webhook - Get Review UI": {
      "main": [
        [
          {
            "node": "Respond - Review UI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Council Action": {
      "main": [
        [
          {
            "node": "Code - Validate Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Validate Inputs": {
      "main": [
        [
          {
            "node": "HTTP - Ollama Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Ollama Health": {
      "main": [
        [
          {
            "node": "IF - Ollama Reachable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Ollama Reachable": {
      "main": [
        [
          {
            "node": "IF - Route Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Ollama Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Route Action": {
      "main": [
        [
          {
            "node": "Read - PRD File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF - Is Decide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Is Decide": {
      "main": [
        [
          {
            "node": "Read - Council for Decision",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read - Council for Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Validate PRD Contract": {
      "main": [
        [
          {
            "node": "IF - PRD Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - PRD Valid": {
      "main": [
        [
          {
            "node": "Code - Load Reviewers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - PRD Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Load Reviewers": {
      "main": [
        [
          {
            "node": "Code - Build R1 Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build R1 Request": {
      "main": [
        [
          {
            "node": "HTTP - Run R1 (Tech)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Run R1 (Tech)": {
      "main": [
        [
          {
            "node": "Code - Save R1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Save R1": {
      "main": [
        [
          {
            "node": "Code - Build R2 Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build R2 Request": {
      "main": [
        [
          {
            "node": "HTTP - Run R2 (Sec)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Run R2 (Sec)": {
      "main": [
        [
          {
            "node": "Code - Save R2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Save R2": {
      "main": [
        [
          {
            "node": "Code - Build R3 Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build R3 Request": {
      "main": [
        [
          {
            "node": "HTTP - Run R3 (Exec)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Run R3 (Exec)": {
      "main": [
        [
          {
            "node": "Code - Save R3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Save R3": {
      "main": [
        [
          {
            "node": "Code - Build R4 Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build R4 Request": {
      "main": [
        [
          {
            "node": "HTTP - Run R4 (User)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Run R4 (User)": {
      "main": [
        [
          {
            "node": "Code - Save R4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Save R4": {
      "main": [
        [
          {
            "node": "HTTP - Warm Quality Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Warm Quality Model": {
      "main": [
        [
          {
            "node": "Code - Build Chair Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Chair Request": {
      "main": [
        [
          {
            "node": "HTTP - Run Chair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Run Chair": {
      "main": [
        [
          {
            "node": "Code - Assemble Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Assemble Output": {
      "main": [
        [
          {
            "node": "Respond - Review Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Handle User Decision": {
      "main": [
        [
          {
            "node": "Respond - Decision Recorded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Handle Gate Decision": {
      "main": [
        [
          {
            "node": "Respond - Gate Recorded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read - Council for Decision": {
      "main": [
        [
          {
            "node": "Code - Check If Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Process Council for Decision": {
      "main": [
        [
          {
            "node": "Code - Handle User Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read - Council for Gate": {
      "main": [
        [
          {
            "node": "Code - Check If Reconvene",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Process Council for Gate": {
      "main": [
        [
          {
            "node": "Code - Handle Gate Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read - PRD File": {
      "main": [
        [
          {
            "node": "Code - Process PRD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Process PRD": {
      "main": [
        [
          {
            "node": "Code - Validate PRD Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Check If Accepted": {
      "main": [
        [
          {
            "node": "IF - Should Revise PRD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Should Revise PRD": {
      "main": [
        [
          {
            "node": "Read Binary File - Current PRD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - Process Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File - Current PRD": {
      "main": [
        [
          {
            "node": "Code - Parse Current PRD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Current PRD": {
      "main": [
        [
          {
            "node": "Code - Build Revision Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Revision Prompt": {
      "main": [
        [
          {
            "node": "HTTP - Ollama Revise PRD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Ollama Revise PRD": {
      "main": [
        [
          {
            "node": "Code - Parse Revised PRD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Revised PRD": {
      "main": [
        [
          {
            "node": "Write Binary File - Save Revised PRD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Binary File - Save Revised PRD": {
      "main": [
        [
          {
            "node": "Write Binary File - Update Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Binary File - Update Handoff": {
      "main": [
        [
          {
            "node": "Code - Process Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Check If Reconvene": {
      "main": [
        [
          {
            "node": "IF - Should Reconvene",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Should Reconvene": {
      "main": [
        [
          {
            "node": "HTTP - Ollama Health",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - Process Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-01T20:43:47.998309Z",
  "versionId": "1",
  "createdAt": "2026-03-01T20:43:47.998303Z",
  "isArchived": false
}