workflows/phase-4-council-review.json
{
  "id": "02bd245046174959",
  "name": "Phase 4 \u2014 Council Review",
  "description": "Runs PRD Council: 4 core reviewers (speed model) + chair (quality model). Handles user decisions and re-review gate.",
  "active": true,
  "nodes": [
    {
      "id": "0d674ce3-c41c-4297-ba68-cc3f24d67f69",
      "name": "Webhook - Get Review UI",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        14400,
        6000
      ],
      "parameters": {
        "path": "council-review",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "8e5a6542-43fe-4307-9331-339a9702a1d1",
      "name": "Respond - Review UI",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        14700,
        6000
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html>\n<head><title>Council Review</title><meta charset=\"utf-8\"><script src=\"https://cdn.jsdelivr.net/npm/marked/marked.min.js\"></script><style>*{box-sizing:border-box}body{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;max-width:1100px;margin:0 auto;padding:20px;background:#f5f5f5}h2{color:#333;margin-bottom:4px}.subtitle{color:#666;font-size:14px;margin-bottom:16px}.start-row{display:flex;gap:8px;align-items:center;margin-bottom:12px}.start-row label{font-size:14px;font-weight:600;white-space:nowrap}.start-row input{border:1px solid #ccc;border-radius:4px;padding:6px 10px;font-size:14px;width:220px}button{padding:8px 16px;border:none;border-radius:6px;font-size:14px;cursor:pointer}.btn-primary{background:#0071e3;color:white}.btn-primary:hover{background:#005bb5}.btn-success{background:#28a745;color:white}.btn-success:hover{background:#218838}.btn-danger{background:#dc3545;color:white}.btn-danger:hover{background:#c82333}.btn-warn{background:#fd7e14;color:white}.btn-warn:hover{background:#e06500}button:disabled{opacity:.5;cursor:not-allowed}#review-area{background:white;border:1px solid #ddd;border-radius:8px;padding:24px;min-height:300px;margin:12px 0;display:none;line-height:1.6}#review-area h1,#review-area h2,#review-area h3{margin-top:24px}#review-area table{border-collapse:collapse;width:100%;margin:12px 0}#review-area td,#review-area th{border:1px solid #ddd;padding:6px 10px;font-size:13px;text-align:left}#review-area th{background:#f5f5f5;font-weight:600}#review-area pre{background:#f8f8f8;padding:12px;border-radius:4px;overflow-x:auto}#review-area code{font-size:13px}.controls{display:none;gap:8px;align-items:flex-start;flex-wrap:wrap;margin-top:4px}.controls.show{display:flex}.meta{font-size:12px;color:#888;margin-bottom:4px;display:none}#revisions-wrap{display:none;flex-direction:column;gap:8px;width:100%;margin-top:4px}#revisions-wrap textarea{width:100%;height:120px;border:1px solid #ccc;border-radius:4px;padding:8px;font-size:14px;resize:vertical}#status{padding:10px 14px;border-radius:6px;margin:8px 0;font-size:14px;display:none}#status.info{background:#d1ecf1;color:#0c5460}#status.error{background:#f8d7da;color:#721c24}#status.ok{background:#d4edda;color:#155724}.spinner{display:inline-block;width:13px;height:13px;border:2px solid #aaa;border-top-color:#333;border-radius:50%;animation:spin .8s linear infinite;vertical-align:middle;margin-right:5px}@keyframes spin{to{transform:rotate(360deg)}}.gate-controls{display:none;gap:8px;margin-top:16px}.gate-controls.show{display:flex}</style></head>\n<body><h2>Council Review (Phase 4)</h2><p class=\"subtitle\">Run PRD Council: 4 core reviewers + Council Chair. Review takes 15-20 minutes.</p><div class=\"start-row\"><label>Project:</label><input type=\"text\" id=\"project\" placeholder=\"my-project-name\"><button class=\"btn-primary\" id=\"btn-start\" onclick=\"startReview()\">Start Council Review</button></div><div id=\"status\"></div><div class=\"meta\" id=\"meta\"></div><div id=\"review-area\"></div><div class=\"controls\" id=\"controls\"><button class=\"btn-success\" id=\"btn-accept\" onclick=\"showAccept()\">\u2713 Accept Recommendations</button><button class=\"btn-danger\" id=\"btn-reject\" onclick=\"rejectReview()\">\u2715 Reject Recommendations</button><div id=\"revisions-wrap\"><label style=\"font-weight:600\">Recommendations to apply (optional, one per line):</label><textarea id=\"revisions\" placeholder=\"Leave blank to accept verdict without PRD changes...\"></textarea><button class=\"btn-success\" onclick=\"submitAcceptance()\">Apply & Continue</button></div></div><div class=\"gate-controls\" id=\"gate\"><button class=\"btn-success\" onclick=\"gateDecision('PROCEED')\">\u2192 Proceed to Phase 5</button><button class=\"btn-warn\" onclick=\"gateDecision('RECONVENE')\">\u21ba Reconvene Council</button></div><script>let proj='',reviewNum=1;function setStatus(msg,type){const s=document.getElementById('status');s.style.display='block';s.className=type;s.innerHTML=msg}function setLoading(on){['btn-start','btn-accept','btn-reject'].forEach(id=>{const el=document.getElementById(id);if(el)el.disabled=on})}function showReview(text,reviewNumber,project,verdict){reviewNum=reviewNumber;proj=project;document.getElementById('review-area').style.display='block';document.getElementById('review-area').innerHTML=marked.parse(text);document.getElementById('controls').className='controls show';const m=document.getElementById('meta');m.style.display='block';m.textContent='Review r'+reviewNumber+' \u2014 '+project+' \u2014 Verdict: '+verdict;document.getElementById('revisions-wrap').style.display='none';document.getElementById('revisions').value=''}async function post(body){const res=await fetch('/webhook/council-review-action',{method:'POST',headers:{'Content-Type':'application/json'},body:JSON.stringify(body)});return res.json()}async function startReview(){proj=document.getElementById('project').value.trim().toLowerCase().replace(/\\s+/g,'-');if(!proj){setStatus('Enter a project name.','error');return}setStatus('<span class=\"spinner\"></span> Running council \u2014 4 reviewers + chair. Takes 15-20 min\u2026','info');setLoading(true);try{const d=await post({project:proj,action:'review'});if(d.error){setStatus('Error: '+d.error,'error');return}showReview(d.review_text,d.review_number,d.project,d.verdict);setStatus('Council r'+d.review_number+' complete. Verdict: '+d.verdict+'. Accept or reject.','ok')}catch(e){setStatus('Failed: '+e.message,'error')}finally{setLoading(false)}}function showAccept(){document.getElementById('revisions-wrap').style.display='flex';document.getElementById('revisions').focus()}async function submitAcceptance(){const rev=document.getElementById('revisions').value.trim();setStatus('<span class=\"spinner\"></span> Applying recommendations\u2026','info');setLoading(true);try{const d=await post({project:proj,action:'decide',decision:'ACCEPTED',revisions:rev});if(d.error){setStatus('Error: '+d.error,'error');return}setStatus('Accepted. PRD now v'+d.new_prd_version+'.','ok');document.getElementById('controls').className='controls';document.getElementById('gate').className='gate-controls show'}catch(e){setStatus('Failed: '+e.message,'error')}finally{setLoading(false)}}async function rejectReview(){setStatus('<span class=\"spinner\"></span> Recording rejection\u2026','info');setLoading(true);try{const d=await post({project:proj,action:'decide',decision:'REJECTED',revisions:''});if(d.error){setStatus('Error: '+d.error,'error');return}setStatus('Rejected. PRD proceeds unchanged.','ok');document.getElementById('controls').className='controls';document.getElementById('gate').className='gate-controls show'}catch(e){setStatus('Failed: '+e.message,'error')}finally{setLoading(false)}}async function gateDecision(choice){setStatus('<span class=\"spinner\"></span> Gate: '+choice+'\u2026','info');try{const d=await post({project:proj,action:'gate',gate_decision:choice});if(d.error){setStatus('Error: '+d.error,'error');return}if(choice==='PROCEED'){setStatus('\u2713 Gate: PROCEED. Ready for Phase 5.','ok');document.getElementById('gate').className='gate-controls'}else{setStatus('Gate: RECONVENE. Next review: '+d.next_review_file,'info');document.getElementById('gate').className='gate-controls'}}catch(e){setStatus('Failed: '+e.message,'error')}}</script></body>\n</html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      }
    },
    {
      "id": "2006a027-75c4-4e1c-950b-3ee3119edba1",
      "name": "Webhook - Council Action",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        14400,
        6300
      ],
      "parameters": {
        "path": "council-review-action",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "971707c6-eaea-452c-afd7-f6f510ee8955",
      "name": "Code - Validate Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14700,
        6300
      ],
      "parameters": {
        "jsCode": "// State management helpers\nconst fs = require('fs');\nconst stateFile = `/tmp/workflow-state-${$execution.id}.json`;\n\nfunction readState() {\n  if (fs.existsSync(stateFile)) {\n    return JSON.parse(fs.readFileSync(stateFile, 'utf8'));\n  }\n  return {};\n}\n\nfunction writeState(state) {\n  fs.writeFileSync(stateFile, JSON.stringify(state, null, 2));\n}\n\nconst body = $input.first().json.body;\nconst project = (body.project || '').trim().toLowerCase().replace(/\\s+/g, '-');\nconst action = body.action || 'review';\nif (!project) throw new Error('project required');\nif (!['review', 'decide', 'gate'].includes(action)) throw new Error('invalid action');\n\nconst wp = `/home/node/workspace/${project}`;\nconst reviewNum = 1;\n\n// Create initial state\nconst state = {\n  project,\n  action,\n  decision: body.decision || '',\n  gateDecision: body.gate_decision || '',\n  revisions: body.revisions || '',\n  reviewNum,\n  wp,\n  prdHandoff: `${wp}/handoffs/003-prd-refined.md`,\n  councilHandoff: `${wp}/handoffs/004-council-review.md`,\n  prdDir: `${wp}/tasks`,\n  promptsDir: '/home/node/prompts',\n  skillsDir: '/home/node/skills'\n};\n\nwriteState(state);\n\n// Return action in json for IF node routing\nreturn [{ json: { executionId: $execution.id, project, action } }];\n"
      }
    },
    {
      "id": "29145eca-13f5-4bcc-afd1-c495b498c3e7",
      "name": "HTTP - Ollama Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        15000,
        6300
      ],
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:11434/api/tags",
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        },
        "sendBody": false,
        "sendHeaders": false,
        "sendQuery": false
      },
      "alwaysOutputData": true
    },
    {
      "id": "28478708-c332-41f6-aef2-e797fd433aca",
      "name": "IF - Ollama Reachable",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        15300,
        6300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "reach",
              "leftValue": "={{ Array.isArray($json.models) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "6f2778e4-e6da-4a7b-9e6d-ff40a36bc005",
      "name": "Respond - Ollama Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        15600,
        6500
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={\"error\": \"Ollama unreachable. Ensure qwen3.5:35b-a3b and qwen3:30b-a3b are loaded.\"}",
        "options": {
          "responseCode": 503,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    },
    {
      "id": "586ec01d-dd78-470e-94da-c8f85a3e0a7c",
      "name": "IF - Route Action",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        15600,
        6300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "act",
              "leftValue": "={{ $('Code - Validate Inputs').first().json.action }}",
              "rightValue": "review",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "fdf7a461-a5ed-4854-8004-a0ebc18e2b1f",
      "name": "IF - Is Decide",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        15600,
        6600
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dec",
              "leftValue": "={{ $('Code - Validate Inputs').first().json.action }}",
              "rightValue": "decide",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "3ede513b-7ddb-44c5-9cdc-0b86f64635e4",
      "name": "Read - PRD File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15900,
        6100
      ],
      "parameters": {
        "jsCode": "// State management helpers\nconst fs = require('fs');\nconst stateFile = `/tmp/workflow-state-${$execution.id}.json`;\n\nfunction readState() {\n  if (fs.existsSync(stateFile)) {\n    return JSON.parse(fs.readFileSync(stateFile, 'utf8'));\n  }\n  return {};\n}\n\nfunction writeState(state) {\n  fs.writeFileSync(stateFile, JSON.stringify(state, null, 2));\n}\n\nconst state = readState();\nconst filePath = state.prdHandoff;\n\nif (!fs.existsSync(filePath)) {\n  throw new Error(`PRD not found at ${filePath}. Run Phase 3 first.`);\n}\n\nconst fileData = fs.readFileSync(filePath);\nreturn [{\n  json: { ok: true },\n  binary: {\n    data: {\n      data: fileData,\n      mimeType: 'text/markdown',\n      fileName: 'prd.md'\n    }\n  }\n}];\n"
      }
    },
    {
      "id": "2e345afa-14a7-4116-9e7a-b5c7cfae3a00",
      "name": "Code - Validate PRD Contract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16200,
        6100
      ],
      "parameters": {
        "jsCode": "// State management helpers\nconst fs = require('fs');\nconst stateFile = `/tmp/workflow-state-${$execution.id}.json`;\n\nfunction readState() {\n  if (fs.existsSync(stateFile)) {\n    return JSON.parse(fs.readFileSync(stateFile, 'utf8'));\n  }\n  return {};\n}\n\nfunction writeState(state) {\n  fs.writeFileSync(stateFile, JSON.stringify(state, null, 2));\n}\n\nconst state = readState();\nconst prd = state.prd;\nconst e = [];\n\nconst fm = prd.match(/^---\\n([\\s\\S]*?)\\n---/);\nif (!fm) e.push('Missing frontmatter');\nelse {\n  const f = fm[1];\n  if (!/phase:\\s*prd-synthesis/.test(f)) e.push('phase must be prd-synthesis');\n  if (!/version:\\s*v\\d+/.test(f)) e.push('version missing');\n}\n\nconst secs = [\n  [/#{1,3}\\s+(?:\\d+\\.\\s+)?Executive Summary/i, 'Executive Summary'],\n  [/#{1,3}\\s+(?:\\d+\\.\\s+)?Functional Requirements/i, 'Functional Requirements'],\n  [/#{1,3}\\s+(?:\\d+\\.\\s+)?Non-Functional Requirements/i, 'Non-Functional Requirements'],\n  [/#{1,3}\\s+(?:\\d+\\.\\s+)?User Stories/i, 'User Stories'],\n  [/#{1,3}\\s+(?:\\d+\\.\\s+)?Architecture/i, 'Architecture'],\n  [/#{1,3}\\s+(?:\\d+\\.\\s+)?Risk/i, 'Risk Assessment'],\n  [/#{1,3}\\s+(?:\\d+\\.\\s+)?MVP/i, 'MVP']\n];\n\nfor (const [p, n] of secs) if (!p.test(prd)) e.push(`Missing ${n}`);\n\nconst frCt = (prd.match(/\\*\\*FR-\\d+:/g) || []).length;\nif (frCt < 3) e.push(`< 3 FRs (${frCt})`);\n\nconst nfr = prd.match(/#{1,3}\\s+(?:\\d+\\.\\s+)?Non-Functional[\\s\\S]*?(?=\\n#{1,3}\\s)/i)?.[0] || '';\nif (nfr && !/\\d+\\s*(?:ms|s|%|concurrent|users|GB|MB)/.test(nfr)) e.push('NFR lacks numeric targets');\n\nconst usCt = (prd.match(/\\*\\*US-\\d+:/g) || []).length;\nif (usCt < 3) e.push(`< 3 user stories (${usCt})`);\n\nconst risk = prd.match(/#{1,3}\\s+(?:\\d+\\.\\s+)?Risk[\\s\\S]*?(?=\\n#{1,3}\\s|$)/i)?.[0] || '';\nconst riskRows = (risk.match(/\\|[^|\\n]+\\|[^|\\n]+\\|[^|\\n]+\\|[^|\\n]+\\|/g) || []).filter(r => !r.includes('---') && !/likelihood/i.test(r));\nif (riskRows.length < 2) e.push(`< 2 risks (${riskRows.length})`);\n\nconst valid = e.length === 0;\n\n// Write state\nstate.valid = valid;\nstate.errors = e;\nwriteState(state);\n\n// Return valid/errors in json for IF node routing\nreturn [{ json: { valid, errors: e } }];\n"
      }
    },
    {
      "id": "6606a4d3-8032-4449-b85f-3e8fa1ee696b",
      "name": "IF - PRD Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        16500,
        6100
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "v",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "862037f9-9e22-473b-93ef-fd2816bc7059",
      "name": "Respond - PRD Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        16800,
        6300
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ { \"error\": \"PRD validation failed\", \"errors\": $json.errors } }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    },
    {
      "id": "5132f2ff-ee0e-4111-bc5f-52d59b16c33c",
      "name": "Code - Load Reviewers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16800,
        6100
      ],
      "parameters": {
        "jsCode": "// State management helpers\nconst fs = require('fs');\nconst stateFile = `/tmp/workflow-state-${$execution.id}.json`;\n\nfunction readState() {\n  if (fs.existsSync(stateFile)) {\n    return JSON.parse(fs.readFileSync(stateFile, 'utf8'));\n  }\n  return {};\n}\n\nfunction writeState(state) {\n  fs.writeFileSync(stateFile, JSON.stringify(state, null, 2));\n}\n\nconst state = readState();\n\nconst reviewers = [\n  {\n    role: 'Technical Reviewer',\n    promptFile: `${state.promptsDir}/prd-council/core/technical-reviewer.md`,\n    skillsFiles: [\n      `${state.skillsDir}/council/technical-review.md`\n    ]\n  },\n  {\n    role: 'Security Reviewer',\n    promptFile: `${state.promptsDir}/prd-council/core/security-reviewer.md`,\n    skillsFiles: [\n      `${state.skillsDir}/council/security-review.md`\n    ]\n  },\n  {\n    role: 'Executive Reviewer',\n    promptFile: `${state.promptsDir}/prd-council/core/executive-reviewer.md`,\n    skillsFiles: [\n      `${state.skillsDir}/council/business-alignment.md`\n    ]\n  },\n  {\n    role: 'User Advocate',\n    promptFile: `${state.promptsDir}/prd-council/core/user-advocate.md`,\n    skillsFiles: [\n      `${state.skillsDir}/council/ux-review.md`\n    ]\n  }\n];\n\n// Load prompts and skills\nfor (const r of reviewers) {\n  r.prompt = fs.readFileSync(r.promptFile, 'utf8');\n  r.skills = r.skillsFiles.map(f => fs.readFileSync(f, 'utf8')).join('\\n\\n');\n}\n\nstate.reviewers = reviewers;\nwriteState(state);\nreturn [{ json: { ok: true } }];\n"
      }
    },
    {
      "id": "694ad70f-a4e6-42be-885f-5fce31df56cd",
      "name": "Code - Build R1 Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17100,
        6100
      ],
      "parameters": {
        "jsCode": "// State management helpers\nconst fs = require('fs');\nconst stateFile = `/tmp/workflow-state-${$execution.id}.json`;\n\nfunction readState() {\n  if (fs.existsSync(stateFile)) {\n    return JSON.parse(fs.readFileSync(stateFile, 'utf8'));\n  }\n  return {};\n}\n\nfunction writeState(state) {\n  fs.writeFileSync(stateFile, JSON.stringify(state, null, 2));\n}\n\nconst state = readState();\nconst r = state.reviewers[0];\nconst sys = `${r.prompt}\\n\\n# Skills\\n\\n${r.skills}`;\nconst usr = `You are reviewing this PRD:\\n\\n${state.prd}\\n\\nProvide your review per the system prompt format.`;\nconst fullPrompt = sys + \"\\n\\n\" + usr;\n\n// Return as object, not stringified - HTTP node will handle serialization\nstate.r1Sys = sys;\nstate.r1Usr = usr;\nwriteState(state);\n\nreturn [{ \n  json: { \n    model: \"qwen3.5:35b-a3b\",\n    prompt: fullPrompt,\n    stream: false,\n    temperature: 0.7,\n    num_predict: 4000\n  } \n}];\n"
      }
    },
    {
      "id": "49a4f034-07bd-48bc-ae01-d59015d1c261",
      "name": "HTTP - Run R1 (Tech)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        17400,
        6100
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "22a08b13-8e57-4f21-a208-1098b59123f7",
      "name": "Code - Save R1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17700,
        6100
      ],
      "parameters": {
        "jsCode": "// State management helpers\nconst fs = require('fs');\nconst stateFile = `/tmp/workflow-state-${$execution.id}.json`;\n\nfunction readState() {\n  if (fs.existsSync(stateFile)) {\n    return JSON.parse(fs.readFileSync(stateFile, 'utf8'));\n  }\n  return {};\n}\n\nfunction writeState(state) {\n  fs.writeFileSync(stateFile, JSON.stringify(state, null, 2));\n}\n\nconst state = readState();\nconst response = $input.first().json.response;\n\nstate.r1 = response;\nstate.r1name = state.reviewers[0].role;\nwriteState(state);\n\nreturn [{ json: { ok: true } }];\n"
      }
    },
    {
      "id": "85aa7798-3334-4367-84b9-aa7fd761ace6",
      "name": "Code - Build R2 Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18000,
        6100
      ],
      "parameters": {
        "jsCode": "// State management helpers\nconst fs = require('fs');\nconst stateFile = `/tmp/workflow-state-${$execution.id}.json`;\n\nfunction readState() {\n  if (fs.existsSync(stateFile)) {\n    return JSON.parse(fs.readFileSync(stateFile, 'utf8'));\n  }\n  return {};\n}\n\nfunction writeState(state) {\n  fs.writeFileSync(stateFile, JSON.stringify(state, null, 2));\n}\n\nconst state = readState();\nconst r = state.reviewers[1];\nconst sys = `${r.prompt}\\n\\n# Skills\\n\\n${r.skills}`;\nconst usr = `You are reviewing this PRD:\\n\\n${state.prd}\\n\\nProvide your review per the system prompt format.`;\nconst fullPrompt = sys + \"\\n\\n\" + usr;\n\nstate.r2Sys = sys;\nstate.r2Usr = usr;\nwriteState(state);\n\nreturn [{ \n  json: { \n    model: \"qwen3.5:35b-a3b\",\n    prompt: fullPrompt,\n    stream: false,\n    temperature: 0.7,\n    num_predict: 4000\n  } \n}];\n"
      }
    },
    {
      "id": "8860669d-d8db-4b3c-a73f-675ea9c16924",
      "name": "HTTP - Run R2 (Sec)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        18300,
        6100
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "981af7db-d178-46a0-8472-d62e21e7cd4a",
      "name": "Code - Save R2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18600,
        6100
      ],
      "parameters": {
        "jsCode": "// State management helpers\nconst fs = require('fs');\nconst stateFile = `/tmp/workflow-state-${$execution.id}.json`;\n\nfunction readState() {\n  if (fs.existsSync(stateFile)) {\n    return JSON.parse(fs.readFileSync(stateFile, 'utf8'));\n  }\n  return {};\n}\n\nfunction writeState(state) {\n  fs.writeFileSync(stateFile, JSON.stringify(state, null, 2));\n}\n\nconst state = readState();\nconst response = $input.first().json.response;\n\nstate.r2 = response;\nstate.r2name = state.reviewers[1].role;\nwriteState(state);\n\nreturn [{ json: { ok: true } }];\n"
      }
    },
    {
      "id": "2927ab4c-d5ae-4a86-bf9a-2c6f7e9b67d2",
      "name": "Code - Build R3 Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18900,
        6100
      ],
      "parameters": {
        "jsCode": "// State management helpers\nconst fs = require('fs');\nconst stateFile = `/tmp/workflow-state-${$execution.id}.json`;\n\nfunction readState() {\n  if (fs.existsSync(stateFile)) {\n    return JSON.parse(fs.readFileSync(stateFile, 'utf8'));\n  }\n  return {};\n}\n\nfunction writeState(state) {\n  fs.writeFileSync(stateFile, JSON.stringify(state, null, 2));\n}\n\nconst state = readState();\nconst r = state.reviewers[2];\nconst sys = `${r.prompt}\\n\\n# Skills\\n\\n${r.skills}`;\nconst usr = `You are reviewing this PRD:\\n\\n${state.prd}\\n\\nProvide your review per the system prompt format.`;\nconst fullPrompt = sys + \"\\n\\n\" + usr;\n\nstate.r3Sys = sys;\nstate.r3Usr = usr;\nwriteState(state);\n\nreturn [{ \n  json: { \n    model: \"qwen3.5:35b-a3b\",\n    prompt: fullPrompt,\n    stream: false,\n    temperature: 0.7,\n    num_predict: 4000\n  } \n}];\n"
      }
    },
    {
      "id": "be89ec3b-47d5-4a80-b399-145a26304dd8",
      "name": "HTTP - Run R3 (Exec)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        19200,
        6100
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "712654d5-f0d7-4d39-bbc1-288ee48c7d11",
      "name": "Code - Save R3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19500,
        6100
      ],
      "parameters": {
        "jsCode": "// State management helpers\nconst fs = require('fs');\nconst stateFile = `/tmp/workflow-state-${$execution.id}.json`;\n\nfunction readState() {\n  if (fs.existsSync(stateFile)) {\n    return JSON.parse(fs.readFileSync(stateFile, 'utf8'));\n  }\n  return {};\n}\n\nfunction writeState(state) {\n  fs.writeFileSync(stateFile, JSON.stringify(state, null, 2));\n}\n\nconst state = readState();\nconst response = $input.first().json.response;\n\nstate.r3 = response;\nstate.r3name = state.reviewers[2].role;\nwriteState(state);\n\nreturn [{ json: { ok: true } }];\n"
      }
    },
    {
      "id": "9d1b997d-6d1f-4782-82a3-9bbe725f782b",
      "name": "Code - Build R4 Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19800,
        6100
      ],
      "parameters": {
        "jsCode": "// State management helpers\nconst fs = require('fs');\nconst stateFile = `/tmp/workflow-state-${$execution.id}.json`;\n\nfunction readState() {\n  if (fs.existsSync(stateFile)) {\n    return JSON.parse(fs.readFileSync(stateFile, 'utf8'));\n  }\n  return {};\n}\n\nfunction writeState(state) {\n  fs.writeFileSync(stateFile, JSON.stringify(state, null, 2));\n}\n\nconst state = readState();\nconst r = state.reviewers[3];\nconst sys = `${r.prompt}\\n\\n# Skills\\n\\n${r.skills}`;\nconst usr = `You are reviewing this PRD:\\n\\n${state.prd}\\n\\nProvide your review per the system prompt format.`;\nconst fullPrompt = sys + \"\\n\\n\" + usr;\n\nstate.r4Sys = sys;\nstate.r4Usr = usr;\nwriteState(state);\n\nreturn [{ \n  json: { \n    model: \"qwen3.5:35b-a3b\",\n    prompt: fullPrompt,\n    stream: false,\n    temperature: 0.7,\n    num_predict: 4000\n  } \n}];\n"
      }
    },
    {
      "id": "969bb818-a04f-4c46-be3d-2a30f0988bb5",
      "name": "HTTP - Run R4 (User)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        20100,
        6100
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "d1961ae8-7726-4d6a-aac5-76c3f58e6c07",
      "name": "Code - Save R4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20400,
        6100
      ],
      "parameters": {
        "jsCode": "// State management helpers\nconst fs = require('fs');\nconst stateFile = `/tmp/workflow-state-${$execution.id}.json`;\n\nfunction readState() {\n  if (fs.existsSync(stateFile)) {\n    return JSON.parse(fs.readFileSync(stateFile, 'utf8'));\n  }\n  return {};\n}\n\nfunction writeState(state) {\n  fs.writeFileSync(stateFile, JSON.stringify(state, null, 2));\n}\n\nconst state = readState();\nconst response = $input.first().json.response;\n\nstate.r4 = response;\nstate.r4name = state.reviewers[3].role;\nwriteState(state);\n\nreturn [{ json: { ok: true } }];\n"
      }
    },
    {
      "id": "fe99de91-8aac-4574-b787-a050129a87aa",
      "name": "HTTP - Warm Quality Model",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        20700,
        6100
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "contentType": "raw",
        "options": {
          "timeout": 60000
        },
        "rawBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen3:30b-a3b\",\n  \"prompt\": \"Respond with: ready\",\n  \"stream\": false,\n  \"options\": {\n    \"num_predict\": 10\n  }\n}"
      },
      "continueOnFail": true
    },
    {
      "id": "350beae5-abbc-4bbe-b618-22993a15b350",
      "name": "Code - Build Chair Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21000,
        6100
      ],
      "parameters": {
        "jsCode": "// State management helpers\nconst fs = require('fs');\nconst stateFile = `/tmp/workflow-state-${$execution.id}.json`;\n\nfunction readState() {\n  if (fs.existsSync(stateFile)) {\n    return JSON.parse(fs.readFileSync(stateFile, 'utf8'));\n  }\n  return {};\n}\n\nfunction writeState(state) {\n  fs.writeFileSync(stateFile, JSON.stringify(state, null, 2));\n}\n\nconst state = readState();\n\nconst fullPrompt = `You are the Council Chair. Synthesize the 4 reviews below.\n\n# Review 1: ${state.r1name}\n${state.r1}\n\n# Review 2: ${state.r2name}\n${state.r2}\n\n# Review 3: ${state.r3name}\n${state.r3}\n\n# Review 4: ${state.r4name}\n${state.r4}\n\nOUTPUT:\n## Consensus Points\nAreas where all reviewers agree\n\n## Conflicts\nAreas where reviewers disagree (present both sides)\n\n## Overall Verdict\n[APPROVED / APPROVED WITH CONCERNS / REVISE AND RESUBMIT]\n\n## Required Revisions\nSpecific, actionable changes (numbered list)`;\n\nstate.chairPrompt = fullPrompt;\nwriteState(state);\n\nreturn [{ \n  json: { \n    model: \"qwen3:30b-a3b\",\n    prompt: fullPrompt,\n    stream: false,\n    temperature: 0.7,\n    num_predict: 6000\n  } \n}];\n"
      }
    },
    {
      "id": "f5bfd9bb-0e0c-499d-842b-a8a00d8bc4b6",
      "name": "HTTP - Run Chair",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        21300,
        6100
      ],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "869ea519-ca49-4da8-9d4b-f43c721668fa",
      "name": "Code - Assemble Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21600,
        6100
      ],
      "parameters": {
        "jsCode": "// State management helpers\nconst fs = require('fs');\nconst stateFile = `/tmp/workflow-state-${$execution.id}.json`;\n\nfunction readState() {\n  if (fs.existsSync(stateFile)) {\n    return JSON.parse(fs.readFileSync(stateFile, 'utf8'));\n  }\n  return {};\n}\n\nfunction writeState(state) {\n  fs.writeFileSync(stateFile, JSON.stringify(state, null, 2));\n}\n\nconst state = readState();\n\nconst reviewText = `# Council Review r${state.reviewNum}\n\n**Project**: ${state.project}\n**Date**: ${new Date().toISOString().split('T')[0]}\n**Verdict**: ${state.verdict}\n\n---\n\n## Reviewer Assessments\n\n### ${state.r1name}\n${state.r1}\n\n### ${state.r2name}\n${state.r2}\n\n### ${state.r3name}\n${state.r3}\n\n### ${state.r4name}\n${state.r4}\n\n---\n\n## Council Chair Synthesis\n${state.chair}\n`;\n\n// Write handoff file\nfs.writeFileSync(state.councilHandoff, reviewText, 'utf8');\n\nstate.reviewText = reviewText;\nwriteState(state);\n\nreturn [{ \n  json: { \n    review_text: reviewText,\n    review_number: state.reviewNum,\n    project: state.project,\n    verdict: state.verdict \n  } \n}];\n"
      }
    },
    {
      "id": "8d49bea2-b3a1-4451-bed7-3fe4b99cc507",
      "name": "Respond - Review Done",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        21900,
        6100
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ { \"success\": true, \"review_text\": $json.review_text, \"verdict\": $json.verdict, \"review_number\": $json.review_number, \"project\": $json.project } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    },
    {
      "id": "524921bc-3628-40e6-8722-192c75dd995d",
      "name": "Code - Handle User Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15900,
        6600
      ],
      "parameters": {
        "jsCode": "// State management helpers\nconst fs = require('fs');\nconst stateFile = `/tmp/workflow-state-${$execution.id}.json`;\n\nfunction readState() {\n  if (fs.existsSync(stateFile)) {\n    return JSON.parse(fs.readFileSync(stateFile, 'utf8'));\n  }\n  return {};\n}\n\nfunction writeState(state) {\n  fs.writeFileSync(stateFile, JSON.stringify(state, null, 2));\n}\n\nconst state = readState();\nconst decision = state.decision;\nconst revisions = state.revisions;\n\n// Update PRD version if accepted\nlet newVersion = 'v1';\nif (decision === 'ACCEPTED') {\n  const prd = fs.readFileSync(state.prdHandoff, 'utf8');\n  const vMatch = prd.match(/version:\\s*v(\\d+)/);\n  const currentVer = vMatch ? parseInt(vMatch[1]) : 0;\n  newVersion = `v${currentVer + 1}`;\n  \n  // Update PRD frontmatter\n  const updatedPrd = prd.replace(/version:\\s*v\\d+/, `version: ${newVersion}`);\n  fs.writeFileSync(state.prdHandoff, updatedPrd, 'utf8');\n}\n\nstate.newPrdVersion = newVersion;\nstate.decisionRecorded = true;\nwriteState(state);\n\nreturn [{\n  json: {\n    decision,\n    new_prd_version: newVersion,\n    project: state.project\n  }\n}];\n"
      }
    },
    {
      "id": "ce1ebd6e-4882-4d6a-8d71-380f14a260fe",
      "name": "Respond - Decision Recorded",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        16200,
        6600
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ { \"success\": true, \"decision\": $json.decision, \"new_prd_version\": $json.new_prd_version, \"project\": $json.project } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    },
    {
      "id": "1a1d92ad-0522-4b6d-a249-4d4c036bff16",
      "name": "Code - Handle Gate Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15900,
        6900
      ],
      "parameters": {
        "jsCode": "// State management helpers\nconst fs = require('fs');\nconst stateFile = `/tmp/workflow-state-${$execution.id}.json`;\n\nfunction readState() {\n  if (fs.existsSync(stateFile)) {\n    return JSON.parse(fs.readFileSync(stateFile, 'utf8'));\n  }\n  return {};\n}\n\nfunction writeState(state) {\n  fs.writeFileSync(stateFile, JSON.stringify(state, null, 2));\n}\n\nconst state = readState();\nconst gateDecision = state.gateDecision;\n\nif (gateDecision === 'PROCEED') {\n  // Ready for Phase 5\n  return [{\n    json: {\n      gate: 'PROCEED',\n      message: 'Ready for Phase 5: Task Generation',\n      project: state.project\n    }\n  }];\n} else if (gateDecision === 'RECONVENE') {\n  // Prepare for re-review\n  const nextReviewNum = state.reviewNum + 1;\n  const nextReviewFile = `${state.wp}/handoffs/004-council-review-r${nextReviewNum}.md`;\n  \n  return [{\n    json: {\n      gate: 'RECONVENE',\n      next_review_file: nextReviewFile,\n      next_review_num: nextReviewNum,\n      project: state.project\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    error: 'Invalid gate decision',\n    project: state.project\n  }\n}];\n"
      }
    },
    {
      "id": "68cdc26d-557b-4c1e-87ff-2314e602d74d",
      "name": "Respond - Gate Recorded",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        16200,
        6900
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ { \"success\": true, \"gate_decision\": $json.gate_decision, \"next_review_file\": $json.next_review_file, \"project\": $json.project } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    },
    {
      "id": "65c9219a-0c63-43f2-84ce-015d9756d77e",
      "name": "Read - Council for Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15750,
        6600
      ],
      "parameters": {
        "jsCode": "// State management helpers\nconst fs = require('fs');\nconst stateFile = `/tmp/workflow-state-${$execution.id}.json`;\n\nfunction readState() {\n  if (fs.existsSync(stateFile)) {\n    return JSON.parse(fs.readFileSync(stateFile, 'utf8'));\n  }\n  return {};\n}\n\nfunction writeState(state) {\n  fs.writeFileSync(stateFile, JSON.stringify(state, null, 2));\n}\n\nconst state = readState();\nconst filePath = state.councilHandoff;\n\nif (!fs.existsSync(filePath)) {\n  throw new Error(`Council handoff not found at ${filePath}`);\n}\n\nconst fileData = fs.readFileSync(filePath);\nreturn [{\n  json: { ok: true },\n  binary: {\n    data: {\n      data: fileData,\n      mimeType: 'text/markdown',\n      fileName: 'council.md'\n    }\n  }\n}];\n"
      }
    },
    {
      "id": "32b1677f-c41b-4220-a49b-c1cfd64c1a48",
      "name": "Code - Process Council for Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15850,
        6600
      ],
      "parameters": {
        "jsCode": "// State management helpers\nconst fs = require('fs');\nconst stateFile = `/tmp/workflow-state-${$execution.id}.json`;\n\nfunction readState() {\n  if (fs.existsSync(stateFile)) {\n    return JSON.parse(fs.readFileSync(stateFile, 'utf8'));\n  }\n  return {};\n}\n\nfunction writeState(state) {\n  fs.writeFileSync(stateFile, JSON.stringify(state, null, 2));\n}\n\nconst state = readState();\nconst item = $input.first();\n\nlet councilFileContent = '';\nif (item.binary && item.binary.data) {\n  const buffer = Buffer.from(item.binary.data.data);\n  councilFileContent = buffer.toString('utf8');\n}\n\nstate.councilFileContent = councilFileContent;\nwriteState(state);\n\nreturn [{ json: { ok: true } }];\n"
      }
    },
    {
      "id": "1a479721-3e4a-42dc-8b6b-4bf8744043f6",
      "name": "Read - Council for Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15750,
        6900
      ],
      "parameters": {
        "jsCode": "// State management helpers\nconst fs = require('fs');\nconst stateFile = `/tmp/workflow-state-${$execution.id}.json`;\n\nfunction readState() {\n  if (fs.existsSync(stateFile)) {\n    return JSON.parse(fs.readFileSync(stateFile, 'utf8'));\n  }\n  return {};\n}\n\nfunction writeState(state) {\n  fs.writeFileSync(stateFile, JSON.stringify(state, null, 2));\n}\n\nconst state = readState();\nconst filePath = state.councilHandoff;\n\nif (!fs.existsSync(filePath)) {\n  throw new Error(`Council handoff not found at ${filePath}`);\n}\n\nconst fileData = fs.readFileSync(filePath);\nreturn [{\n  json: { ok: true },\n  binary: {\n    data: {\n      data: fileData,\n      mimeType: 'text/markdown',\n      fileName: 'council.md'\n    }\n  }\n}];\n"
      }
    },
    {
      "id": "ceb339fa-4c5e-406d-98be-189f75b43520",
      "name": "Code - Process Council for Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15850,
        6900
      ],
      "parameters": {
        "jsCode": "// State management helpers\nconst fs = require('fs');\nconst stateFile = `/tmp/workflow-state-${$execution.id}.json`;\n\nfunction readState() {\n  if (fs.existsSync(stateFile)) {\n    return JSON.parse(fs.readFileSync(stateFile, 'utf8'));\n  }\n  return {};\n}\n\nfunction writeState(state) {\n  fs.writeFileSync(stateFile, JSON.stringify(state, null, 2));\n}\n\nconst state = readState();\nconst item = $input.first();\n\nlet councilFileContent = '';\nif (item.binary && item.binary.data) {\n  const buffer = Buffer.from(item.binary.data.data);\n  councilFileContent = buffer.toString('utf8');\n}\n\nstate.councilFileContent = councilFileContent;\nwriteState(state);\n\nreturn [{ json: { ok: true } }];\n"
      }
    },
    {
      "id": "d1edbb50-0737-4738-90c2-d9192d26bd76",
      "name": "Code - Process PRD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16100,
        6100
      ],
      "parameters": {
        "jsCode": "// State management helpers\nconst fs = require('fs');\nconst stateFile = `/tmp/workflow-state-${$execution.id}.json`;\n\nfunction readState() {\n  if (fs.existsSync(stateFile)) {\n    return JSON.parse(fs.readFileSync(stateFile, 'utf8'));\n  }\n  return {};\n}\n\nfunction writeState(state) {\n  fs.writeFileSync(stateFile, JSON.stringify(state, null, 2));\n}\n\nconst state = readState();\nconst item = $input.first();\n\nlet prd;\nif (item.binary && item.binary.data) {\n  const buffer = Buffer.from(item.binary.data.data);\n  prd = buffer.toString('utf8');\n} else {\n  throw new Error(`PRD not found at ${state.prdHandoff}. Run Phase 3 first.`);\n}\n\nstate.prd = prd;\nwriteState(state);\nreturn [{ json: { ok: true } }];\n"
      }
    },
    {
      "id": "save-chair-response-node-id",
      "name": "Code - Save Chair",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18900,
        6100
      ],
      "parameters": {
        "jsCode": "// State management helpers\nconst fs = require('fs');\nconst stateFile = `/tmp/workflow-state-${$execution.id}.json`;\n\nfunction readState() {\n  if (fs.existsSync(stateFile)) {\n    return JSON.parse(fs.readFileSync(stateFile, 'utf8'));\n  }\n  return {};\n}\n\nfunction writeState(state) {\n  fs.writeFileSync(stateFile, JSON.stringify(state, null, 2));\n}\n\nconst state = readState();\nconst response = $input.first().json.response;\n\nstate.chair = response;\n\n// Extract verdict\nconst verdictMatch = response.match(/verdict[:\\s]*(APPROVED|CONDITIONAL|REJECTED)/i);\nstate.verdict = verdictMatch ? verdictMatch[1].toUpperCase() : 'CONDITIONAL';\n\nwriteState(state);\nreturn [{ json: { ok: true } }];\n"
      }
    },
    {
      "id": "debug-r1-node-id",
      "name": "Debug - R1 Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17250,
        6100
      ],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst input = $input.first().json;\n\nconst debugData = {\n  executionId: $execution.id,\n  timestamp: new Date().toISOString(),\n  inputKeys: Object.keys(input),\n  hasModel: 'model' in input,\n  hasPrompt: 'prompt' in input,\n  model: input.model || null,\n  promptLength: input.prompt ? input.prompt.length : 0,\n  promptPreview: input.prompt ? input.prompt.substring(0, 300) : null,\n  stream: input.stream,\n  temperature: input.temperature,\n  num_predict: input.num_predict,\n  fullInput: input\n};\n\nconst debugFile = `/tmp/debug-r1-${$execution.id}.json`;\nfs.writeFileSync(debugFile, JSON.stringify(debugData, null, 2));\n\nreturn [$input.first()];\n"
      }
    }
  ],
  "connections": {
    "Webhook - Get Review UI": {
      "main": [
        [
          {
            "node": "Respond - Review UI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Council Action": {
      "main": [
        [
          {
            "node": "Code - Validate Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Validate Inputs": {
      "main": [
        [
          {
            "node": "HTTP - Ollama Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Ollama Health": {
      "main": [
        [
          {
            "node": "IF - Ollama Reachable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Ollama Reachable": {
      "main": [
        [
          {
            "node": "IF - Route Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Ollama Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Route Action": {
      "main": [
        [
          {
            "node": "Read - PRD File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF - Is Decide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Is Decide": {
      "main": [
        [
          {
            "node": "Read - Council for Decision",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read - Council for Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Validate PRD Contract": {
      "main": [
        [
          {
            "node": "IF - PRD Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - PRD Valid": {
      "main": [
        [
          {
            "node": "Code - Load Reviewers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - PRD Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Load Reviewers": {
      "main": [
        [
          {
            "node": "Code - Build R1 Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build R1 Request": {
      "main": [
        [
          {
            "node": "Debug - R1 Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Run R1 (Tech)": {
      "main": [
        [
          {
            "node": "Code - Save R1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Save R1": {
      "main": [
        [
          {
            "node": "Code - Build R2 Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build R2 Request": {
      "main": [
        [
          {
            "node": "HTTP - Run R2 (Sec)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Run R2 (Sec)": {
      "main": [
        [
          {
            "node": "Code - Save R2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Save R2": {
      "main": [
        [
          {
            "node": "Code - Build R3 Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build R3 Request": {
      "main": [
        [
          {
            "node": "HTTP - Run R3 (Exec)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Run R3 (Exec)": {
      "main": [
        [
          {
            "node": "Code - Save R3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Save R3": {
      "main": [
        [
          {
            "node": "Code - Build R4 Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build R4 Request": {
      "main": [
        [
          {
            "node": "HTTP - Run R4 (User)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Run R4 (User)": {
      "main": [
        [
          {
            "node": "Code - Save R4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Save R4": {
      "main": [
        [
          {
            "node": "HTTP - Warm Quality Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Warm Quality Model": {
      "main": [
        [
          {
            "node": "Code - Build Chair Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Chair Request": {
      "main": [
        [
          {
            "node": "HTTP - Run Chair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Run Chair": {
      "main": [
        [
          {
            "node": "Code - Save Chair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Assemble Output": {
      "main": [
        [
          {
            "node": "Respond - Review Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Handle User Decision": {
      "main": [
        [
          {
            "node": "Respond - Decision Recorded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Handle Gate Decision": {
      "main": [
        [
          {
            "node": "Respond - Gate Recorded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read - Council for Decision": {
      "main": [
        [
          {
            "node": "Code - Process Council for Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Process Council for Decision": {
      "main": [
        [
          {
            "node": "Code - Handle User Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read - Council for Gate": {
      "main": [
        [
          {
            "node": "Code - Process Council for Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Process Council for Gate": {
      "main": [
        [
          {
            "node": "Code - Handle Gate Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read - PRD File": {
      "main": [
        [
          {
            "node": "Code - Process PRD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Process PRD": {
      "main": [
        [
          {
            "node": "Code - Validate PRD Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Save Chair": {
      "main": [
        [
          {
            "node": "Code - Assemble Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug - R1 Data": {
      "main": [
        [
          {
            "node": "HTTP - Run R1 (Tech)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-01T20:43:47.998309Z",
  "versionId": "1",
  "createdAt": "2026-03-01T20:43:47.998303Z",
  "isArchived": false
}