workflows/Phase 4 — Council Review.json
{
  "name": "Phase 4 \u2014 Council Review",
  "nodes": [
    {
      "parameters": {
        "path": "council-review",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "21b31d47-c1f5-45ff-997f-4fc7eeae28f9",
      "name": "Webhook - Get Review UI",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "0bd70ff2-88a0-4974-9d0b-49fc1047c475"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html>\n<head><title>Council Review</title><meta charset=\"utf-8\"><script src=\"https://cdn.jsdelivr.net/npm/marked/marked.min.js\"></script><style>*{box-sizing:border-box}body{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;max-width:1100px;margin:0 auto;padding:20px;background:#f5f5f5}h2{color:#333;margin-bottom:4px}.subtitle{color:#666;font-size:14px;margin-bottom:16px}.start-row{display:flex;gap:8px;align-items:center;margin-bottom:12px}.start-row label{font-size:14px;font-weight:600;white-space:nowrap}.start-row input{border:1px solid #ccc;border-radius:4px;padding:6px 10px;font-size:14px;width:220px}button{padding:8px 16px;border:none;border-radius:6px;font-size:14px;cursor:pointer}.btn-primary{background:#0071e3;color:white}.btn-primary:hover{background:#005bb5}.btn-success{background:#28a745;color:white}.btn-success:hover{background:#218838}.btn-danger{background:#dc3545;color:white}.btn-danger:hover{background:#c82333}.btn-warn{background:#fd7e14;color:white}.btn-warn:hover{background:#e06500}button:disabled{opacity:.5;cursor:not-allowed}#review-area{background:white;border:1px solid #ddd;border-radius:8px;padding:24px;min-height:300px;margin:12px 0;display:none;line-height:1.6}#review-area h1,#review-area h2,#review-area h3{margin-top:24px}#review-area table{border-collapse:collapse;width:100%;margin:12px 0}#review-area td,#review-area th{border:1px solid #ddd;padding:6px 10px;font-size:13px;text-align:left}#review-area th{background:#f5f5f5;font-weight:600}#review-area pre{background:#f8f8f8;padding:12px;border-radius:4px;overflow-x:auto}#review-area code{font-size:13px}.controls{display:none;gap:8px;align-items:flex-start;flex-wrap:wrap;margin-top:4px}.controls.show{display:flex}.meta{font-size:12px;color:#888;margin-bottom:4px;display:none}#revisions-wrap{display:none;flex-direction:column;gap:8px;width:100%;margin-top:4px}#revisions-wrap textarea{width:100%;height:120px;border:1px solid #ccc;border-radius:4px;padding:8px;font-size:14px;resize:vertical}#status{padding:10px 14px;border-radius:6px;margin:8px 0;font-size:14px;display:none}#status.info{background:#d1ecf1;color:#0c5460}#status.error{background:#f8d7da;color:#721c24}#status.ok{background:#d4edda;color:#155724}.spinner{display:inline-block;width:13px;height:13px;border:2px solid #aaa;border-top-color:#333;border-radius:50%;animation:spin .8s linear infinite;vertical-align:middle;margin-right:5px}@keyframes spin{to{transform:rotate(360deg)}}.gate-controls{display:none;gap:8px;margin-top:16px}.gate-controls.show{display:flex}</style></head>\n<body><h2>Council Review (Phase 4)</h2><p class=\"subtitle\">Run PRD Council: 4 core reviewers + Council Chair. Review takes 15-20 minutes.</p><div class=\"start-row\"><label>Project:</label><input type=\"text\" id=\"project\" placeholder=\"my-project-name\"><button class=\"btn-primary\" id=\"btn-start\" onclick=\"startReview()\">Start Council Review</button></div><div id=\"status\"></div><div class=\"meta\" id=\"meta\"></div><div id=\"review-area\"></div><div class=\"controls\" id=\"controls\"><button class=\"btn-success\" id=\"btn-accept\" onclick=\"showAccept()\">\u2713 Accept Recommendations</button><button class=\"btn-danger\" id=\"btn-reject\" onclick=\"rejectReview()\">\u2715 Reject Recommendations</button><div id=\"revisions-wrap\"><label style=\"font-weight:600\">Recommendations to apply (optional, one per line):</label><textarea id=\"revisions\" placeholder=\"Leave blank to accept verdict without PRD changes...\"></textarea><button class=\"btn-success\" onclick=\"submitAcceptance()\">Apply & Continue</button></div></div><div class=\"gate-controls\" id=\"gate\"><button class=\"btn-success\" onclick=\"gateDecision('PROCEED')\">\u2192 Proceed to Phase 5</button><button class=\"btn-warn\" onclick=\"gateDecision('RECONVENE')\">\u21ba Reconvene Council</button></div><script>let proj='',reviewNum=1;function setStatus(msg,type){const s=document.getElementById('status');s.style.display='block';s.className=type;s.innerHTML=msg}function setLoading(on){['btn-start','btn-accept','btn-reject'].forEach(id=>{const el=document.getElementById(id);if(el)el.disabled=on})}function showReview(text,reviewNumber,project,verdict){reviewNum=reviewNumber;proj=project;document.getElementById('review-area').style.display='block';document.getElementById('review-area').innerHTML=marked.parse(text);document.getElementById('controls').className='controls show';const m=document.getElementById('meta');m.style.display='block';m.textContent='Review r'+reviewNumber+' \u2014 '+project+' \u2014 Verdict: '+verdict;document.getElementById('revisions-wrap').style.display='none';document.getElementById('revisions').value=''}async function post(body){const res=await fetch('/webhook/council-review-action',{method:'POST',headers:{'Content-Type':'application/json'},body:JSON.stringify(body)});return res.json()}async function startReview(){proj=document.getElementById('project').value.trim().toLowerCase().replace(/\\s+/g,'-');if(!proj){setStatus('Enter a project name.','error');return}setStatus('<span class=\"spinner\"></span> Running council \u2014 4 reviewers + chair. Takes 15-20 min\u2026','info');setLoading(true);try{const d=await post({project:proj,action:'review'});if(d.error){setStatus('Error: '+d.error,'error');return}showReview(d.review_text,d.review_number,d.project,d.verdict);setStatus('Council r'+d.review_number+' complete. Verdict: '+d.verdict+'. Accept or reject.','ok')}catch(e){setStatus('Failed: '+e.message,'error')}finally{setLoading(false)}}function showAccept(){document.getElementById('revisions-wrap').style.display='flex';document.getElementById('revisions').focus()}async function submitAcceptance(){const rev=document.getElementById('revisions').value.trim();setStatus('<span class=\"spinner\"></span> Applying recommendations\u2026','info');setLoading(true);try{const d=await post({project:proj,action:'decide',decision:'ACCEPTED',revisions:rev});if(d.error){setStatus('Error: '+d.error,'error');return}setStatus('Accepted. PRD now v'+d.new_prd_version+'.','ok');document.getElementById('controls').className='controls';document.getElementById('gate').className='gate-controls show'}catch(e){setStatus('Failed: '+e.message,'error')}finally{setLoading(false)}}async function rejectReview(){setStatus('<span class=\"spinner\"></span> Recording rejection\u2026','info');setLoading(true);try{const d=await post({project:proj,action:'decide',decision:'REJECTED',revisions:''});if(d.error){setStatus('Error: '+d.error,'error');return}setStatus('Rejected. PRD proceeds unchanged.','ok');document.getElementById('controls').className='controls';document.getElementById('gate').className='gate-controls show'}catch(e){setStatus('Failed: '+e.message,'error')}finally{setLoading(false)}}async function gateDecision(choice){setStatus('<span class=\"spinner\"></span> Gate: '+choice+'\u2026','info');try{const d=await post({project:proj,action:'gate',gate_decision:choice});if(d.error){setStatus('Error: '+d.error,'error');return}if(choice==='PROCEED'){setStatus('\u2713 Gate: PROCEED. Ready for Phase 5.','ok');document.getElementById('gate').className='gate-controls'}else{setStatus('Gate: RECONVENE. Next review: '+d.next_review_file,'info');document.getElementById('gate').className='gate-controls'}}catch(e){setStatus('Failed: '+e.message,'error')}}</script></body>\n</html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "1820f851-e755-46b6-8c67-bd1145618cdf",
      "name": "Respond - Review UI",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        304,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "council-review-action",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3a3305c3-a47b-46b8-be71-b927669325f7",
      "name": "Webhook - Council Action",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        304
      ],
      "webhookId": "924f1a58-2f47-4fda-84da-e1610c5b3bde"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;  // Handle both wrapped and direct input\n\nconst project = (body.project || '').trim().toLowerCase().replace(/\\s+/g, '-');\nconst action = body.action || 'review';\nconst reviewNum = body.reviewNum || 1;\n\nif (!project) throw new Error('project required');\nif (!['review', 'decide', 'gate'].includes(action)) throw new Error('invalid action');\n\nconst wp = `/home/node/workspace/${project}`;\nconst councilHandoff = reviewNum === 1 ?\n  `${wp}/handoffs/004-council-review.md` :\n  `${wp}/handoffs/004-council-review-r${reviewNum}.md`;\n\nreturn [{\n  json: {\n    project,\n    action,\n    decision: body.decision || '',\n    gateDecision: body.gate_decision || '',\n    revisions: body.revisions || '',\n    reviewNum,\n    wp,\n    prdHandoff: `${wp}/handoffs/003-prd-refined.md`,\n    councilHandoff,\n    prdDir: `${wp}/tasks`,\n    promptsDir: '/home/node/prompts',\n    skillsDir: '/home/node/skills'\n  }\n}];"
      },
      "id": "6b9431cf-3194-4c1c-bf0d-67b9d33a6213",
      "name": "Code - Validate Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        304
      ]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:11434/api/tags",
        "options": {
          "response": {},
          "timeout": 10000
        }
      },
      "id": "84abe5df-3216-4e2e-9eed-6157b9dae20c",
      "name": "HTTP - Ollama Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        288,
        752
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "reach",
              "leftValue": "={{ Array.isArray($json.models) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f72e897c-47e2-42bd-95da-ead52524b368",
      "name": "IF - Ollama Reachable",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        576,
        384
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={\"error\": \"Ollama unreachable. Ensure qwen3.5:35b-a3b is loaded.\"}",
        "options": {
          "responseCode": 503,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "c8d1e428-9222-4ddb-b036-f657c6842db0",
      "name": "Respond - Ollama Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        720,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "act",
              "leftValue": "={{ $json.action }}",
              "rightValue": "review",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5adc92c5-92cd-438e-9abe-793d8e802b72",
      "name": "IF - Route Action",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        832,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dec",
              "leftValue": "={{ $json.action }}",
              "rightValue": "decide",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8b219daf-c0fd-4a04-a1d7-eaab34312c77",
      "name": "IF - Is Decide",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        928,
        816
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst d = $input.first().json;\nlet prd;\ntry {\n  prd = fs.readFileSync(d.prdHandoff, 'utf8');\n} catch(e) {\n  throw new Error(`PRD not found at ${d.prdHandoff}. Run Phase 3 first.`);\n}\nreturn [{ json: { ...d, prd } }];"
      },
      "id": "2d06372d-5dcf-482c-adea-b39acd2a2aca",
      "name": "Read - PRD File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst prd = d.prd;\nconst e = [];\nconst fm = prd.match(/^---\\n([\\s\\S]*?)\\n---/);\nif (!fm) e.push('Missing frontmatter');\nelse {\n  const f = fm[1];\n  if (!/phase:\\s*prd-synthesis/.test(f)) e.push('phase must be prd-synthesis');\n  if (!/version:\\s*v\\d+/.test(f)) e.push('version missing');\n}\nconst secs = [\n  [/#{1,3}\\s+(?:\\d+\\.\\s+)?Executive Summary/i, 'Executive Summary'],\n  [/#{1,3}\\s+(?:\\d+\\.\\s+)?Functional Requirements/i, 'Functional Requirements'],\n  [/#{1,3}\\s+(?:\\d+\\.\\s+)?Non-Functional Requirements/i, 'Non-Functional Requirements'],\n  [/#{1,3}\\s+(?:\\d+\\.\\s+)?User Stories/i, 'User Stories'],\n  [/#{1,3}\\s+(?:\\d+\\.\\s+)?Architecture/i, 'Architecture'],\n  [/#{1,3}\\s+(?:\\d+\\.\\s+)?Risk/i, 'Risk Assessment'],\n  [/#{1,3}\\s+(?:\\d+\\.\\s+)?MVP/i, 'MVP']\n];\nfor (const [p, n] of secs) if (!p.test(prd)) e.push(`Missing ${n}`);\nconst frCt = (prd.match(/\\*\\*FR-\\d+:/g) || []).length;\nif (frCt < 3) e.push(`< 3 FRs (${frCt})`);\nconst nfr = prd.match(/#{1,3}\\s+(?:\\d+\\.\\s+)?Non-Functional[\\s\\S]*?(?=\\n#{1,3}\\s)/i)?.[0] || '';\nif (nfr && !/\\d+\\s*(?:ms|s|%|concurrent|users|GB|MB)/.test(nfr)) e.push('NFR lacks numeric targets');\nconst usCt = (prd.match(/\\*\\*US-\\d+:/g) || []).length;\nif (usCt < 3) e.push(`< 3 user stories (${usCt})`);\nconst risk = prd.match(/#{1,3}\\s+(?:\\d+\\.\\s+)?Risk[\\s\\S]*?(?=\\n#{1,3}\\s|$)/i)?.[0] || '';\nconst riskRows = (risk.match(/\\|[^|\\n]+\\|[^|\\n]+\\|[^|\\n]+\\|[^|\\n]+\\|/g) || []).filter(r => !r.includes('---') && !/likelihood/i.test(r));\nif (riskRows.length < 2) e.push(`< 2 risks (${riskRows.length})`);\nif (e.length > 0) return [{ json: { ...d, valid: false, errors: e } }];\nreturn [{ json: { ...d, valid: true } }];"
      },
      "id": "c4d5a8ea-7ca3-4401-a695-eb01b357c606",
      "name": "Code - Validate PRD Contract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "v",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7789c91f-1c30-4e75-8149-7795357bac18",
      "name": "IF - PRD Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2112,
        112
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ error: \"PRD validation failed\", errors: $json.errors }) }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "1d8e0669-3fc2-4b50-bacd-3fec2f0904ac",
      "name": "Respond - PRD Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2400,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst d = $input.first().json;\n\n// Reviewer definitions\nconst reviewerDefs = [\n  { name: 'Technical Reviewer', prompt: 'prd-council/core/technical-reviewer.md', skills: ['council/technical-review.md'] },\n  { name: 'Security Reviewer', prompt: 'prd-council/core/security-reviewer.md', skills: ['council/security-review.md'] },\n  { name: 'Executive Reviewer', prompt: 'prd-council/core/executive-reviewer.md', skills: ['council/business-alignment.md'] },\n  { name: 'User Advocate', prompt: 'prd-council/core/user-advocate.md', skills: ['council/ux-review.md'] }\n];\n\n// Load prompts and skills for each reviewer\nconst reviewers = reviewerDefs.map((r, i) => {\n  const promptPath = `${d.promptsDir}/${r.prompt}`;\n  const prompt = fs.readFileSync(promptPath, 'utf8');\n  \n  const skillsContent = r.skills.map(s => {\n    const skillPath = `${d.skillsDir}/${s}`;\n    return fs.readFileSync(skillPath, 'utf8');\n  }).join('\\n\\n---\\n\\n');\n  \n  return {\n    index: i,\n    name: r.name,\n    prompt,\n    skills: skillsContent\n  };\n});\n\n// Return single item with reviewers array\nreturn [{\n  json: {\n    ...d,\n    reviewers\n  }\n}];"
      },
      "id": "31552700-c053-400d-98ed-e1e88701f393",
      "name": "Code - Load Reviewers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst r = d.reviewers[0];\nconst sys = `${r.prompt}\\n\\n# Skills\\n\\n${r.skills}`;\nconst usr = `You are reviewing this PRD:\\n\\n${d.prd}\\n\\nProvide your review per the system prompt format.`;\nreturn [{ json: { ...d, idx: 0, sys, usr } }];"
      },
      "id": "c67fe53a-8016-4277-bb7d-c8a1a7b9bc62",
      "name": "Code - Build R1 Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: \"qwen3.5:35b-a3b\", prompt: $json.sys + \"\\n\\n\" + $json.usr, stream: false, options: { temperature: 0.7, num_predict: 4000 } }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "b60e1da5-7f65-40bd-a37b-dcf4338b9202",
      "name": "HTTP - Run R1 (Tech)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3008,
        112
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000
    },
    {
      "parameters": {
        "jsCode": "const httpResp = $input.first().json;\nconst buildData = $('Code - Build R1 Request').first().json;\n\nreturn [{ json: { ...buildData, r1: httpResp.response, r1name: 'Technical Reviewer' } }];"
      },
      "id": "a73c5945-b7a8-42e3-8460-da6288c10295",
      "name": "Code - Save R1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3312,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Code - Save R1').first().json;\nconst r = d.reviewers[1];\nconst sys = `${r.prompt}\\n\\n# Skills\\n\\n${r.skills}`;\nconst usr = `You are reviewing this PRD:\\n\\n${d.prd}\\n\\nProvide your review per the system prompt format.`;\nreturn [{ json: { ...d, sys, usr } }];"
      },
      "id": "c413ccf0-7ee8-4f23-b998-27b1b9d27665",
      "name": "Code - Build R2 Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3344,
        656
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: \"qwen3.5:35b-a3b\", prompt: $json.sys + \"\\n\\n\" + $json.usr, stream: false, options: { temperature: 0.7, num_predict: 4000 } }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "7ddbd75f-2f11-4544-b775-94a3483b569a",
      "name": "HTTP - Run R2 (Sec)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3616,
        656
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000
    },
    {
      "parameters": {
        "jsCode": "const httpResp = $input.first().json;\nconst buildData = $('Code - Build R2 Request').first().json;\n\nreturn [{ json: { ...buildData, r2: httpResp.response, r2name: 'Security Reviewer' } }];"
      },
      "id": "bba83173-34f0-4149-b755-9b1417c7529c",
      "name": "Code - Save R2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3728,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Code - Save R2').first().json;\nconst r = d.reviewers[2];\nconst sys = `${r.prompt}\\n\\n# Skills\\n\\n${r.skills}`;\nconst usr = `You are reviewing this PRD:\\n\\n${d.prd}\\n\\nProvide your review per the system prompt format.`;\nreturn [{ json: { ...d, sys, usr } }];"
      },
      "id": "70b036c7-eedc-4efc-9e0c-28d68b0fbe9f",
      "name": "Code - Build R3 Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3952,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: \"qwen3.5:35b-a3b\", prompt: $json.sys + \"\\n\\n\" + $json.usr, stream: false, options: { temperature: 0.7, num_predict: 4000 } }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "56991337-1be5-4fed-8c5c-37a6841091a6",
      "name": "HTTP - Run R3 (Exec)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4080,
        656
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000
    },
    {
      "parameters": {
        "jsCode": "const httpResp = $input.first().json;\nconst buildData = $('Code - Build R3 Request').first().json;\n\nreturn [{ json: { ...buildData, r3: httpResp.response, r3name: 'Executive Reviewer' } }];"
      },
      "id": "f79d98ea-5e72-447e-b524-8ad84219a241",
      "name": "Code - Save R3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4208,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Code - Save R3').first().json;\nconst r = d.reviewers[3];\nconst sys = `${r.prompt}\\n\\n# Skills\\n\\n${r.skills}`;\nconst usr = `You are reviewing this PRD:\\n\\n${d.prd}\\n\\nProvide your review per the system prompt format.`;\nreturn [{ json: { ...d, sys, usr } }];"
      },
      "id": "55f8d818-38e6-4ceb-bc93-2295bb525a09",
      "name": "Code - Build R4 Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4448,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: \"qwen3.5:35b-a3b\", prompt: $json.sys + \"\\n\\n\" + $json.usr, stream: false, options: { temperature: 0.7, num_predict: 4000 } }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "ec06564a-34e6-4ade-9f5e-10f629194d55",
      "name": "HTTP - Run R4 (User)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4592,
        656
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000
    },
    {
      "parameters": {
        "jsCode": "const httpResp = $input.first().json;\nconst buildData = $('Code - Build R4 Request').first().json;\n\nreturn [{ json: { ...buildData, r4: httpResp.response, r4name: 'User Advocate' } }];"
      },
      "id": "10fdbd5d-7a2d-490d-b140-5f1829d4e849",
      "name": "Code - Save R4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4720,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: \"qwen3.5:35b-a3b\", prompt: \"Respond with: ready\", stream: false, options: { num_predict: 10 } }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "8e60e885-805a-45cd-bc43-8dce5e035cd0",
      "name": "HTTP - Warm Quality Model",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        4960,
        384
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const d = $('Code - Save R4').first().json;\n\n// Note: In production, prompt/skill files would be read separately\n// For MVP, using inline placeholders\nconst chairPromptPlaceholder = `You are the Council Chair. Synthesize all reviewer feedback into a unified assessment.\n\nOUTPUT FORMAT:\n## Consensus Points\n[List areas where reviewers agree]\n\n## Conflicts\n[List areas where reviewers disagree]\n\n## Overall Verdict\n[APPROVED / APPROVED WITH CONCERNS / REVISE AND RESUBMIT]\n\n## Required Revisions\n[Numbered list if verdict is not APPROVED]`;\n\nconst sys = chairPromptPlaceholder;\nconst allRev = `## Reviewer Outputs\n\n### ${d.r1name}\n\n${d.r1}\n\n---\n\n### ${d.r2name}\n\n${d.r2}\n\n---\n\n### ${d.r3name}\n\n${d.r3}\n\n---\n\n### ${d.r4name}\n\n${d.r4}\n\n---`;\n\nconst usr = `Synthesize these 4 reviews into a unified council assessment:\\n\\n${allRev}`;\n\nreturn [{ json: { ...d, sys, usr } }];"
      },
      "id": "d5b0921d-bd9f-4cbc-a670-41abc078799f",
      "name": "Code - Build Chair Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5088,
        656
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: \"qwen3.5:35b-a3b\", prompt: $json.sys + \"\\n\\n\" + $json.usr, stream: false, options: { temperature: 0.7, num_predict: 4000 } }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "f570be46-685b-4302-825a-b1253cd8a848",
      "name": "HTTP - Run Chair",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        5200,
        384
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000
    },
    {
      "parameters": {
        "jsCode": "const httpResp = $input.first().json;\nconst buildData = $('Code - Build Chair Request').first().json;\n\nconst chair = httpResp.response;\nconst vm = chair.match(/Overall Verdict:\\s*(APPROVED|APPROVED WITH CONCERNS|REVISE AND RESUBMIT)/i);\nconst verdict = vm ? vm[1] : 'APPROVED WITH CONCERNS';\nconst reviewText = `---\nphase: council-review\nproject: ${buildData.project}\nreview_number: ${buildData.reviewNum}\ndate: ${new Date().toISOString().split('T')[0]}\nprd_version_reviewed: ${buildData.prdV}\nreviewers:\n  - technical-reviewer\n  - security-reviewer\n  - executive-reviewer\n  - user-advocate\n  - council-chair\noverall_verdict: ${verdict}\nstatus: PENDING\n---\n\n# Council Review \u2014 ${buildData.project}\n\n## Reviewer Outputs\n\n### Technical Reviewer\n\n${buildData.r1}\n\n---\n\n### Security Reviewer\n\n${buildData.r2}\n\n---\n\n### Executive Reviewer\n\n${buildData.r3}\n\n---\n\n### User Advocate\n\n${buildData.r4}\n\n---\n\n## Council Chair Synthesis\n\n${chair}\n\n---\n\n## User Decisions\n\n**Status**: PENDING\n\nUser review in progress.\n\n---\n\n## PRD Revision Log\n\n**PRD version before council**: ${buildData.prdV}\n**PRD version after revisions**: (pending)\n\n### Changes Made\n\n(pending)\n\n---\n\n## Re-Review Status\n\n**Gate Decision**: (pending)\n**Decision Date**: (pending)\n**Rationale**: (pending)\n`;\nreturn [{ json: { ...buildData, reviewText, verdict, response: chair } }];"
      },
      "id": "9fbb8486-f6cb-4f92-bbe7-04373bca11f2",
      "name": "Code - Assemble Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5408,
        384
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ success: true, review_text: $json.reviewText, verdict: $json.verdict, review_number: $json.reviewNum, project: $json.project }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "0537b91a-9eae-4910-ac2f-1510980a8ee7",
      "name": "Respond - Review Done",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        5920,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst councilText = $input.first().json.councilFileContent || '';\nconst decision = d.decision;\nif (!decision) throw new Error('decision required (ACCEPTED or REJECTED)');\n\nconst revisions = d.revisions.trim();\nconst prdMatch = councilText.match(/prd_version_reviewed:\\s*(v\\d+)/);\nconst oldVer = prdMatch ? prdMatch[1] : 'v1';\nconst newVerNum = parseInt(oldVer.substring(1)) + 1;\nconst newVer = `v${newVerNum}`;\n\n// Update council handoff with decision\nconst today = new Date().toISOString().split('T')[0];\nconst decisionBlock = `\\n\\n---\\n## User Decision (${today})\\n\\n**Status**: ${decision}\\n${revisions ? `\\n**Revisions to Apply**:\\n${revisions}\\n` : ''}\\n---\\n`;\nconst updatedCouncil = councilText + decisionBlock;\n\nreturn [{\n  json: {\n    ...d,\n    decision,\n    oldPrdVersion: oldVer,\n    newPrdVersion: decision === 'ACCEPTED' ? newVer : oldVer,\n    councilHandoffContent: updatedCouncil,\n    message: `Decision recorded: ${decision}${decision === 'ACCEPTED' ? ` (PRD ${oldVer} \u2192 ${newVer})` : ''}`\n  }\n}];"
      },
      "id": "aacb8c3a-0acd-42c3-993e-0f20fb1afb2a",
      "name": "Code - Handle User Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        368
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ success: true, decision: $json.decision, new_prd_version: $json.new_prd_version, project: $json.project }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "a500c181-c535-49be-91d3-f10ada00e396",
      "name": "Respond - Decision Recorded",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1872,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst councilText = $input.first().json.councilFileContent || '';\nconst gate = d.gateDecision;\nif (!gate) throw new Error('gate_decision required (PROCEED or RECONVENE)');\n\nconst today = new Date().toISOString().split('T')[0];\nconst rationale = gate === 'PROCEED' ?\n  'User approved proceeding to next phase.' :\n  'User requested council reconvene for re-review.';\n\nconst gateBlock = `\\n\\n---\\n## Re-Review Gate (${today})\\n\\n**Gate Decision**: ${gate}\\n**Rationale**: ${rationale}\\n---\\n`;\nconst updatedCouncil = councilText + gateBlock;\n\nconst nextReviewFile = gate === 'RECONVENE' ?\n  `${d.wp}/handoffs/004-council-review-r${d.reviewNum + 1}.md` :\n  '';\n\nreturn [{\n  json: {\n    ...d,\n    gateDecision: gate,\n    councilHandoffContent: updatedCouncil,\n    nextReviewFile,\n    message: `Gate decision: ${gate}${gate === 'RECONVENE' ? ` (next: r${d.reviewNum + 1})` : ''}`\n  }\n}];"
      },
      "id": "e8a3b158-8bd9-4f55-89e3-1e4ea6e29f1f",
      "name": "Code - Handle Gate Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        912
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ success: true, gate_decision: $json.gate_decision, next_review_file: $json.next_review_file, project: $json.project }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "c706ea69-670c-41ae-b578-858c8c189902",
      "name": "Respond - Gate Recorded",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1888,
        912
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst d = $input.first().json;\nlet councilFileContent;\ntry {\n  councilFileContent = fs.readFileSync(d.councilHandoff, 'utf8');\n} catch(e) {\n  throw new Error(`Council review not found at ${d.councilHandoff}.`);\n}\nreturn [{ json: { ...d, councilFileContent } }];"
      },
      "id": "a1f7294a-7b57-4516-8015-970c000b3db0",
      "name": "Read - Council for Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst d = $input.first().json;\nlet councilFileContent;\ntry {\n  councilFileContent = fs.readFileSync(d.councilHandoff, 'utf8');\n} catch(e) {\n  throw new Error(`Council review not found at ${d.councilHandoff}.`);\n}\nreturn [{ json: { ...d, councilFileContent } }];"
      },
      "id": "54d5a43d-6aa8-44cd-b3fb-cfe6b36ae481",
      "name": "Read - Council for Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        912
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst decision = d.decision;\nconst revisions = (d.revisions || '').trim();\n\nreturn [{\n  json: {\n    ...d,\n    shouldRevise: decision === 'ACCEPTED' && revisions.length > 0\n  }\n}];"
      },
      "id": "f7f355b3-1181-42bb-9def-fdfebf0bf5dc",
      "name": "Code - Check If Accepted",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        656
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "accept",
              "leftValue": "={{ $json.shouldRevise }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ee58d55b-7c62-416c-ad74-7823ea1964b9",
      "name": "IF - Should Revise PRD",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1664,
        656
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst d = $input.first().json;\nlet prd;\ntry {\n  prd = fs.readFileSync(d.prdHandoff, 'utf8');\n} catch(e) {\n  throw new Error(`PRD not found at ${d.prdHandoff}.`);\n}\nreturn [{ json: { ...d, prd } }];"
      },
      "id": "88fda2d7-886f-46f5-9b35-75be9162e252",
      "name": "Read Binary File - Current PRD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst item = $input.first().json;\nconst currentPRD = item.prd || '';\n\n// Extract version from PRD frontmatter\nconst versionMatch = currentPRD.match(/version:\\s*(v\\d+)/);\nconst currentVersion = versionMatch ? versionMatch[1] : 'v1';\nconst newVersionNum = parseInt(currentVersion.substring(1)) + 1;\nconst newVersion = `v${newVersionNum}`;\n\nreturn [{\n  json: {\n    ...d,\n    currentPRD,\n    currentVersion,\n    newVersion\n  }\n}];"
      },
      "id": "3c5a584d-7c6c-45cd-aadf-4a6ee3542fd7",
      "name": "Code - Parse Current PRD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2064,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\n// Build PRD Writer prompt for revisions\nconst systemPrompt = `You are the PRD Writer. Apply the following council recommendations to the PRD below.\n\nCOUNCIL RECOMMENDATIONS TO APPLY:\n${d.revisions}\n\nCURRENT PRD (${d.currentVersion}):\n${d.currentPRD}\n\nINSTRUCTIONS:\n- Apply ONLY the specific recommendations listed above\n- Maintain all existing sections and structure\n- Update the version in frontmatter to ${d.newVersion}\n- Preserve all other content unchanged\n- Output the complete updated PRD\n\nOUTPUT: Complete revised PRD with version ${d.newVersion}`;\n\nreturn [{\n  json: {\n    ...d,\n    model: \"qwen3.5:35b-a3b\",\n    prompt: systemPrompt,\n    stream: False,\n    temperature: 0.7,\n    num_predict: 8000\n  }\n}];"
      },
      "id": "d6c988e5-7c19-43fa-b5db-d2c67c5413cb",
      "name": "Code - Build Revision Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "3f65368d-56c5-4cec-b663-6edf36207443",
      "name": "HTTP - Ollama Revise PRD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2464,
        560
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst resp = $input.first().json;\nconst revisedPRD = resp.response || '';\n\nif (!revisedPRD || revisedPRD.length < 100) {\n  throw new Error('PRD revision failed - empty or too short response');\n}\n\nconst version = d.newVersion;  // newVersion passed through data flow\n\nreturn [{\n  json: {\n    ...d,\n    revisedPRD,\n    newPrdVersion: version,\n    prdFileName: `prd-${d.project}-${version}.md`\n  }\n}];"
      },
      "id": "fc7de495-9cb6-4bda-88d2-7dd68e45d994",
      "name": "Code - Parse Revised PRD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2656,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst d = $input.first().json;\n\n// Create directory if needed\nfs.mkdirSync(`/home/node/workspace/${d.project}/tasks`, { recursive: true });\n\n// Write revised PRD\nconst prdPath = `/home/node/workspace/${d.project}/tasks/${d.prdFileName}`;\nfs.writeFileSync(prdPath, d.revisedPRD, 'utf8');\n\nreturn [{\n  json: {\n    ...d,\n    prd_path: prdPath\n  }\n}];"
      },
      "id": "f0196b98-f2b5-4688-9fe2-62d13cca83ca",
      "name": "Write Binary File - Save Revised PRD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2864,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst d = $input.first().json;\n\n// Create directory if needed\nfs.mkdirSync(`/home/node/workspace/${d.project}/handoffs`, { recursive: true });\n\n// Update handoff file with revised PRD\nfs.writeFileSync(d.prdHandoff, d.revisedPRD, 'utf8');\n\nreturn [{ json: d }];"
      },
      "id": "09d81e0e-19f0-48a4-bf1e-1e84c8ab5f3e",
      "name": "Write Binary File - Update Handoff",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3056,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst gate = d.gateDecision;\n\nreturn [{\n  json: {\n    ...d,\n    shouldReconvene: gate === 'RECONVENE'\n  }\n}];"
      },
      "id": "7bb41a39-e521-4dca-8916-d6153d97b5d2",
      "name": "Code - Check If Reconvene",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        912
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "reconvene",
              "leftValue": "={{ $json.shouldReconvene }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "06ee8db1-d309-4776-8d84-a1451bbd9cf2",
      "name": "IF - Should Reconvene",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2080,
        912
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst assembleData = $input.first().json;\n\n// Prepare file write\nconst handoffPath = `/home/node/workspace/${assembleData.project}/handoffs/004-council-review.md`;\n\nreturn [{\n  json: assembleData,\n  binary: {\n    data: {\n      data: assembleData.review_text,\n      mimeType: 'text/markdown',\n      fileName: handoffPath\n    }\n  }\n}];\n"
      },
      "id": "d5e2f5f9-98c3-4533-9a26-3fbd37441331",
      "name": "Code - Prepare Handoff Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5456,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $input.first().json.project ? `/home/node/workspace/${$input.first().json.project}/handoffs/004-council-review.md` : '/tmp/council-review.md' }}",
        "options": {}
      },
      "id": "9a9efdf4-6ca3-477a-9059-25e08bbadc8c",
      "name": "Write Binary File - Council Review",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        5680,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:3001/events/{{ $('Code - Validate Inputs').first().json.project }}/phase4/reviewer",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "reviewer",
              "value": "Tech Reviewer"
            },
            {
              "name": "review",
              "value": "=={{ $json.r1_review }}"
            },
            {
              "name": "verdict",
              "value": "=={{ $json.r1_verdict }}"
            },
            {
              "name": "concerns",
              "value": "=={{ $json.r1_concerns_count || 0 }}"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3344,
        368
      ],
      "id": "35a76d0e-b7ac-49ef-adfe-93234e9d16ff",
      "name": "Emit Tech Reviewer Event"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:3001/events/{{ $('Code - Validate Inputs').first().json.project }}/phase4/reviewer",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "reviewer",
              "value": "Security Reviewer"
            },
            {
              "name": "review",
              "value": "=={{ $json.r2_review }}"
            },
            {
              "name": "verdict",
              "value": "=={{ $json.r2_verdict }}"
            },
            {
              "name": "concerns_count",
              "value": "=={{ $json.r2_concerns_count || 0 }}"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3840,
        128
      ],
      "id": "59c8888e-21c7-4a50-ace7-e69cbe9a9239",
      "name": "Emit Security Reviewer Event"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:3001/events/{{ $('Code - Validate Inputs').first().json.project }}/phase4/reviewer",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "reviewer",
              "value": "Executive Reviewer"
            },
            {
              "name": "review",
              "value": "=={{ $json.r3_review }}"
            },
            {
              "name": "verdict",
              "value": "=={{ $json.r3_verdict }}"
            },
            {
              "name": "concerns_count",
              "value": "=={{ $json.r3_concerns_count || 0 }}"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4320,
        128
      ],
      "id": "d384228d-62aa-4f6f-ad5a-4f7550b25a3f",
      "name": "Emit Executive Reviewer Event"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:3001/events/{{ $('Code - Validate Inputs').first().json.project }}/phase4/reviewer",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "reviewer",
              "value": "User Reviewer"
            },
            {
              "name": "review",
              "value": "=={{ $json.r4_review }}"
            },
            {
              "name": "verdict",
              "value": "=={{ $json.r4_verdict }}"
            },
            {
              "name": "concerns_count",
              "value": "=={{ $json.r4_concerns_count || 0 }}"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4848,
        128
      ],
      "id": "17ea8d65-1989-4035-9573-aa12af43dd81",
      "name": "Emit User Reviewer Event"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:3001/events/{{ $('Code - Validate Inputs').first().json.project }}/phase4/complete",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "verdict",
              "value": "=={{ $json.verdict }}"
            },
            {
              "name": "summary",
              "value": "=={{ $json.chairSummary || 'Council review complete' }}"
            },
            {
              "name": "concerns",
              "value": "=={{ $json.totalConcerns || 0 }}"
            },
            {
              "name": "endorsements",
              "value": "=={{ $json.totalEndorsements || 0 }}"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5616,
        384
      ],
      "id": "67fdad55-4117-432b-9a96-b842aee51cb1",
      "name": "Emit Council Complete Event"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Get Review UI": {
      "main": [
        [
          {
            "node": "Respond - Review UI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Council Action": {
      "main": [
        [
          {
            "node": "Code - Validate Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Validate Inputs": {
      "main": [
        [
          {
            "node": "IF - Route Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Ollama Health": {
      "main": [
        [
          {
            "node": "IF - Ollama Reachable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Ollama Reachable": {
      "main": [
        [
          {
            "node": "IF - Route Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Ollama Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Route Action": {
      "main": [
        [
          {
            "node": "Read - PRD File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF - Is Decide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Is Decide": {
      "main": [
        [
          {
            "node": "Read - Council for Decision",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read - Council for Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Validate PRD Contract": {
      "main": [
        [
          {
            "node": "IF - PRD Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - PRD Valid": {
      "main": [
        [
          {
            "node": "Code - Load Reviewers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - PRD Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Load Reviewers": {
      "main": [
        [
          {
            "node": "Code - Build R1 Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build R1 Request": {
      "main": [
        [
          {
            "node": "HTTP - Run R1 (Tech)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Run R1 (Tech)": {
      "main": [
        [
          {
            "node": "Code - Save R1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Save R1": {
      "main": [
        [
          {
            "node": "Emit Tech Reviewer Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build R2 Request": {
      "main": [
        [
          {
            "node": "HTTP - Run R2 (Sec)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Run R2 (Sec)": {
      "main": [
        [
          {
            "node": "Code - Save R2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Save R2": {
      "main": [
        [
          {
            "node": "Emit Security Reviewer Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build R3 Request": {
      "main": [
        [
          {
            "node": "HTTP - Run R3 (Exec)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Run R3 (Exec)": {
      "main": [
        [
          {
            "node": "Code - Save R3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Save R3": {
      "main": [
        [
          {
            "node": "Emit Executive Reviewer Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build R4 Request": {
      "main": [
        [
          {
            "node": "HTTP - Run R4 (User)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Run R4 (User)": {
      "main": [
        [
          {
            "node": "Code - Save R4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Save R4": {
      "main": [
        [
          {
            "node": "Emit User Reviewer Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Warm Quality Model": {
      "main": [
        [
          {
            "node": "Code - Build Chair Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Chair Request": {
      "main": [
        [
          {
            "node": "HTTP - Run Chair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Run Chair": {
      "main": [
        [
          {
            "node": "Code - Assemble Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Assemble Output": {
      "main": [
        [
          {
            "node": "Emit Council Complete Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Handle User Decision": {
      "main": [
        [
          {
            "node": "Respond - Decision Recorded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Handle Gate Decision": {
      "main": [
        [
          {
            "node": "Respond - Gate Recorded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read - Council for Decision": {
      "main": [
        [
          {
            "node": "Code - Handle User Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read - Council for Gate": {
      "main": [
        [
          {
            "node": "Code - Handle Gate Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read - PRD File": {
      "main": [
        [
          {
            "node": "Code - Validate PRD Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Check If Accepted": {
      "main": [
        [
          {
            "node": "IF - Should Revise PRD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Should Revise PRD": {
      "main": [
        [
          {
            "node": "Read Binary File - Current PRD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File - Current PRD": {
      "main": [
        [
          {
            "node": "Code - Parse Current PRD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Current PRD": {
      "main": [
        [
          {
            "node": "Code - Build Revision Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Revision Prompt": {
      "main": [
        [
          {
            "node": "HTTP - Ollama Revise PRD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Ollama Revise PRD": {
      "main": [
        [
          {
            "node": "Code - Parse Revised PRD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Revised PRD": {
      "main": [
        [
          {
            "node": "Write Binary File - Save Revised PRD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Binary File - Save Revised PRD": {
      "main": [
        [
          {
            "node": "Write Binary File - Update Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Check If Reconvene": {
      "main": [
        [
          {
            "node": "IF - Should Reconvene",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Should Reconvene": {
      "main": [
        [
          {
            "node": "HTTP - Ollama Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Handoff Data": {
      "main": [
        [
          {
            "node": "Write Binary File - Council Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Binary File - Council Review": {
      "main": [
        [
          {
            "node": "Respond - Review Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emit Tech Reviewer Event": {
      "main": [
        [
          {
            "node": "Code - Build R2 Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emit Security Reviewer Event": {
      "main": [
        [
          {
            "node": "Code - Build R3 Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emit Executive Reviewer Event": {
      "main": [
        [
          {
            "node": "Code - Build R4 Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emit User Reviewer Event": {
      "main": [
        [
          {
            "node": "HTTP - Warm Quality Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emit Council Complete Event": {
      "main": [
        [
          {
            "node": "Respond - Review Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "20e369a2-1180-4673-ad97-7fe3ec32b324",
  "meta": {
    "instanceId": "0a0e76c7322d1d0e50ca4077eff90f037ced4ed6c5c5b5717d8fd34da496440c"
  },
  "id": "ZLCWuHSZYVhNVjCs",
  "tags": []
}